@using ITGWebTimeSheet2.Models
@model IEnumerable<ITGWebTimeSheet2.Models.TaskManModule>
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutUsers.cshtml";
}

    <div class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-dashboard"></i> Timesheet</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="#">Timesheet</a></li>
            </ul>
        </div>



        <!--  New Design  -->


        <div class="row">
            <div class="col-md-12">
                <div class="tile">

                    <div class="tile-body">

                        <div class="table-responsive2">
                            <div class="row3">
                            </div>
                        </div>

                        <div class="table-responsive2">
                            <div class="row3">
                                <div style=" width: 100%; min-height: 100%; padding: 0; margin: 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center; justify-content: center;">
                                    <div style="width:80px">
                                        <table class="table table-hover table-bordered">
                                            <thead style="background-color: #002080;color:white;">
                                                <tr>

                                                    <th style="border: 1px solid #dee2e6;">
                                                        <div style="float:left;">
                                                            Resource
                                                        </div>
                                                    </th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        @ViewBag.ClientName
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <div style="width: 112px;">
                                        <table class="table table-hover table-bordered">
                                            <thead style="background-color: #002080;color:white;">
                                                <tr>

                                                    <th style="border: 1px solid #dee2e6;text-align:center">
                                                        <div style="float:left;">
                                                            @ViewData["SystemDate"]
                                                        </div>
                                                    </th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input id="select_d" type="text" class="datepicker79" value="@ViewData["SystemDate"]" maxlength="10" />
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <div style="width:270px">
                                        <table class="table table-hover table-bordered">
                                            <thead style="background-color: #002080;color:white;">
                                                <tr>
                                                    <th style="border: 1px solid #dee2e6; width:10px;">
                                                        Prev
                                                    </th>
                                                    <th style="border: 1px solid #dee2e6; width:250px;">
                                                        Current Week
                                                    </th>
                                                    <th style="border: 1px solid #dee2e6; width:10px;">
                                                        Next
                                                    </th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a href="@Url.Action("TimeSheet")?ed=@ViewData["prev1"]" style="margin-top:25px;"><i class="fas fa-arrow-circle-left"></i></a>
                                                    </td>
                                                    <td>
                                                        <span id="startweekday"> @ViewData["begin1"] </span>&nbsp;&nbsp; -&nbsp;&nbsp; <span>@ViewData["end1"]</span>
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("TimeSheet")?ed=@ViewData["next1"]" style="margin-top:25px;"><i class="fas fa-arrow-circle-right"></i></a>
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="width:80px">
                                        <table class="table table-hover table-bordered">
                                            <thead style="background-color: #002080;color:white;">
                                                <tr>

                                                    <th style="border: 1px solid #dee2e6;">
                                                        <div style="float:left;">
                                                            Total Hours
                                                        </div>
                                                    </th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span id="totalhours"></span>
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>


                        </div>



                        <table class="table table-hover table-bordered" id="taskmantable">
                            <thead style="background-color: #002080;color:white;">
                                <tr>

                                    <th style="background-color: white;border-top-color: white;border-bottom-color: white;border-left-color: white; width:30px">
                                       <!-- <a href="#" class="add_fields3" style="margin-top:25px;"><i class="fas fa-plus-circle"></i></a> -->
                                    </th>
                                    <th style="border: 1px solid #dee2e6; width:100px;">
                                        <div style="float:left;">
                                            Customer
                                        </div>
                                    </th>

                                    <th style="width:100px;">
                                        <div style="float:left;">
                                            Project
                                        </div>

                                    </th>
                                    <th style="width:500px;">Task</th>
                                    <th>Comments</th>
                                    <th style="width:80px;">Date</th>
                                    <th style="width:80px;">Hours</th>


                                </tr>

                            </thead>
                            <tbody id="wrapper4">

                                @foreach (var item in Model)
                                {
                                    <tr class="record" id="row_@Html.DisplayFor(modelItem => item.id)">
                                        <td style="background-color: white;border-top-color: white;border-bottom-color: white;border-left-color: white;">
                                            <a href="#" id="toogle_@Html.DisplayFor(modelItem => item.id)" class="dplay" style="margin-top:25px;"><i id="drop_@Html.DisplayFor(modelItem => item.id)" class="fas fa-play"></i></a>


                                            <a href="#" id="d_@Html.DisplayFor(modelItem => item.id)" style="display:none" class="down_arrow"><i class="fas fa-sort-down fa-2x" style="color:#5fac11;"></i></a>
                                            <input type="hidden" id="taskid_@Html.DisplayFor(modelItem => item.id)" value="@Html.DisplayFor(modelItem => item.taskid)" />
                                        </td>
                                        <td style="border: 1px solid #dee2e6;" id="tdcust_@Html.DisplayFor(modelItem => item.id)" class="tdnote">
                                            <span id="custtask_@Html.DisplayFor(modelItem => item.id)" class="task_input2">
                                                @if (ViewData["CustomerList"] != null)
                                                {
                                                    foreach (var item1 in ViewData["CustomerList"] as IList<CustomersModule>)
                                                    {
                                                        if (item.cust == item1.id)
                                                        {
                                                            @:@item1.code
                                                        }
                                                    }
                                                }
                                            </span>
                                            <input type="hidden" id="custid_@Html.DisplayFor(modelItem => item.id)" value="@item.cust" />

                                        </td>
                                        <td id="tdproj_@Html.DisplayFor(modelItem => item.id)" class="tdnote">
                                            <span id="taskproj_@Html.DisplayFor(modelItem => item.id)" class="task_input2">

                                                @if (ViewData["ProjectList"] != null)
                                                {
                                                    foreach (var item1 in ViewData["ProjectList"] as IList<ProjectModule>)
                                                    {
                                                        if (item.proj == item1.id)
                                                        {
                                                            @:@item1.code
                                                        }
                                                        if (Convert.ToString(item.proj) == "0")
                                                        {
                                                            @:Please select
                                                            break;
                                                        }
                                                    }
                                                }


                                            </span>
                                            <input type="hidden" id="projid_@Html.DisplayFor(modelItem => item.id)" value="@item.proj" />
                                        </td>
                                        <td id="tdtask_@Html.DisplayFor(modelItem => item.id)" class="tdnote">

                                            <span id="descriptiontask1_@Html.DisplayFor(modelItem => item.id)" class="task_input2">
                                                @if (ViewData["TaskList"] != null)
                                                {
                                                    foreach (var item9 in ViewData["TaskList"] as IList<TaskManModule>)
                                                    {
                                                        if (item.taskid == item9.id)
                                                        {
                                                            @:@item9.description.Replace("__XX_AMPERSAND_XX__", "&")
                                                        }
                                                    }
                                                }

                                            </span>
                                            <input type="hidden" id="taskid_@Html.DisplayFor(modelItem => item.id)" value="@item.taskid" />
                                        </td>
                                        <td id="tdnote_@Html.DisplayFor(modelItem => item.id)" class="tdnote">

                                            <span id="notetask_@Html.DisplayFor(modelItem => item.id)" class="task_input2">@Html.DisplayFor(modelItem => item.notes.Replace("__XX_AMPERSAND_XX__", "&"))</span>
                                            <span id="selnote_@Html.DisplayFor(modelItem => item.id)" class="sel_cust" style="display: none;">
                                                <textarea id="notetask2_@Html.DisplayFor(modelItem => item.id)" class="autoExpand form-control task_input" rows="1" data-min-rows="1" placeholder="Add comments" name="description" >@Html.DisplayFor(modelItem => item.notes)</textarea>
                                            </span>
                                        </td>
                                        <td id="tdstart_@Html.DisplayFor(modelItem => item.id)" class="tdnote">
                                            <span id="taskstart_@Html.DisplayFor(modelItem => item.id)" class="task_input2"> @Convert.ToDateTime(item.ddate).ToString("MM/dd/yyyy")</span>
                                            <span id="selstart_@Html.DisplayFor(modelItem => item.id)" class="sel_stat" style="display: none;">
                                                <input id="starttask_@Html.DisplayFor(modelItem => item.id)" type="text" class="datepicker99 task_input" value="@Convert.ToDateTime(item.ddate).ToString("MM/dd/yyyy")" />
                                            </span>
                                        </td>
                                        <td id="tdest_@Html.DisplayFor(modelItem => item.id)" class="tdnote">
                                            <span id="taskest_@Html.DisplayFor(modelItem => item.id)" class="task_input2">@Html.DisplayFor(modelItem => item.acthours)</span>
                                            <span id="selest_@Html.DisplayFor(modelItem => item.id)" class="sel_cust" style="display: none;">

                                                <input id="esttask_@Html.DisplayFor(modelItem => item.id)" class="form-control task_input" type="text" value="@Html.DisplayFor(modelItem => item.acthours)" />
                                            </span>
                                        </td>



                                    </tr>
                                    <tr style="background-color:#dee2e6" id="secondrow_@Html.DisplayFor(modelItem => item.id)" class="notShow hideall">
                                        <td style="background-color: white;border-top-color: white;border-bottom-color: white;border-left-color: white;">
                                            <a href="#" id="remove_@Html.DisplayFor(modelItem => item.id)" class="remove_field2" style="margin-top:25px;display:none;position:relative;top: 62px;"><i class="fas fa-minus-circle"></i></a>
                                        </td>
                                        <td colspan="6">
                                            <div class="row3">
                                             <!--   <div style="position:relative;height:150px; padding: 10px 10px 10px 10px; " class="w-29">
                                                    <div style="float:left;" class="w-100">
                                                        <div style="float:left">
                                                            Requirements<br />
                                                            This is a dummy text statement
                                                        </div>
                                                        <div style="float:right">
                                                            04/21/2020
                                                        </div>


                                                    </div>
                                                    <div style="position:absolute;bottom: 5px;font-size: 9px;right: 10px;">
                                                        <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                                                    </div>
                                                </div> -->
                                                <div class="w-29" style="position:relative;min-height:150px; height: auto; overflow: hidden; border: 1px solid #dee2e6; padding:5px;" class="td-main">
                                                    <div style="float:left;" class="w-100">
                                                        <div class="td-main" style="float:left; display: block; width: 100%;">
                                                            <strong>Requirements</strong><br />

                                                            <div style="height:101px;overflow-y: auto;" class="td-main">
                                                                <pre class="td-label td-lbl-projectstatus">@Html.DisplayFor(modelItem => item.status.Replace("__XX_AMPERSAND_XX__", "&"))</pre>
                                                               

                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                   
                                                </div>

                                                <div class="w-1">

                                                </div>
                                                <div style="background-color:white;position:relative;min-height:150px; height: auto;border: 1px solid #dee2e6; padding: 10px 10px 10px 10px;" class="w-29 td-main">
                                                    <div style="float:left;" class="w-100">
                                                        <div style="float:left; display: block; width: 100%;">
                                                            Subtask:

                                                            <div style="height:101px;overflow-y: auto;" id="divlist_@Html.DisplayFor(modelItem => item.id)">
                                                                <ul class="list-group checked-list-box" id="tasklist_@Html.DisplayFor(modelItem => item.id)">

                                                                    @Html.Action("DisplaySubTask2", "Admin", new { planner_id = item.taskid })
                                                                </ul>
                                                            </div>
                                                            <span id="selnote2_@Html.DisplayFor(modelItem => item.id)" style="display: none;">
                                                                <textarea id="subtaskinfo_@Html.DisplayFor(modelItem => item.id)" style=" display: block; width: 100%; height: 80%;" class="form-control " rows="4" data-min-rows="4" placeholder="description" name="description"></textarea>
                                                            </span>
                                                        </div>
                                                        <div style="float:right">
                                                        </div>
                                                    </div>
                                                 
                                                
                                                </div>
                                                <div class="w-29">

                                                </div>
                                                <div class="w-1">

                                                </div>

                                                <div class="w-10">
                                                    <button type="button" class="btn btn-success w-100 savetask24" style="margin-bottom:5px;" id="save_@Html.DisplayFor(modelItem => item.id)">Save</button>
                                                    <button type="button" class="btn btn-primary w-100" style="margin-bottom:5px;">Notes</button>
                                                    <button type="button" class="btn btn-primary w-100" style="margin-bottom:5px;">Files</button>
                                                    <button type="button" class="btn btn-primary w-100" style="margin-bottom:5px;">Images</button>

                                                </div>

                                            </div> <!-- end of row 3-->
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table> <!-- end of table responsive  bootstrap table-->
                        <div style="text-align:right">


                        </div>
                   
                    </div> <!-- end of table responsive  bootstrap table-->
                </div>
            </div>
        </div>

        <!-- task Partial-->
        <div class="row">
            <div class="col-md-12">
                <div class="tile">

                    <div class="tile-body" id="taskpart">




                        <div ></div>
                    </div> <!-- end of table responsive  bootstrap table-->
                </div>
            </div>
        </div>



    </div>  <!-- old main-->

