@using ITGWebTimeSheet2.Models
@model IEnumerable<ITGWebTimeSheet2.Models.TaskManModule>

<table class="table table-hover table-bordered" id="taskmantable2">
    <thead style="background-color: #ffd633; color: black;">
        <tr>

            <th style="background-color: white;border-top-color: white;border-bottom-color: white;border-left-color: white; width:30px">
            </th>
            <th style="border: 1px solid #ffd633; width:100px;">
                <div style="float:left;">
                    Customer
                </div>
            </th>
            <th style="width:100px;">Assigned Work (by Priority)</th>

            <th style="width:100px;">
                <div style="float:left;">
                    Project
                </div>

            </th>
            <th style="width:600px;">Task</th>
            <th style="width:500px;">

                Category


            </th>

            <th style="width:200px;">Timesheet Entry</th>



        </tr>

    </thead>
    <tbody id="wrapper4">

        @foreach (var item in Model)
        {
        <tr class="record" id="row_@Html.DisplayFor(modelItem => item.id)">

            <td style="background-color: white;border-top-color: white;border-bottom-color: white;border-left-color: white; width:30px">
                <a href="#" id="toogle2_@Html.DisplayFor(modelItem => item.id)" class="dplay2" style="margin-top:25px;"><i id="drop_@Html.DisplayFor(modelItem => item.id)" class="fas fa-play"></i></a>


                <a href="#" id="d2_@Html.DisplayFor(modelItem => item.id)" style="display:none" class="down_arrow2"><i class="fas fa-sort-down fa-2x" style="color:#5fac11;"></i></a>



            </td>

            <td style="border: 1px solid #dee2e6;" id="tdcust_@Html.DisplayFor(modelItem => item.id)" class="tdk">
                <span id="custtask2_@Html.DisplayFor(modelItem => item.id)">
                    @if (ViewData["CustomerList2"] != null)
                    {
                        foreach (var item11 in ViewData["CustomerList2"] as IList<CustomersModule>)
                        {
                            if (item.cust == item11.id)
                            {
                                @:@item11.code
                            }

                        }
                    }
                </span>
                <input type="hidden" id="custid2_@Html.DisplayFor(modelItem => item.id)" value="@item.cust" />

            </td>

            <td id="tdpr_@Html.DisplayFor(modelItem => item.id)"
                @if (Convert.ToInt16(item.pr) == 21) { @: style="background-color: yellow;"
                }>

                <span id="desc1_@Html.DisplayFor(modelItem => item.id)">
                    @if ((Convert.ToInt16(item.pr) == 0) || (Convert.ToInt16(item.pr) > 21))
                    {
                        @:
                    }
                    else
                    {
                        if (Convert.ToInt16(item.pr) == 21)
                        {
                            @:<strong>RTC</strong>
                        }
                        else
                        {
                            @:@Html.DisplayFor(modelItem => item.pr)
                        }

                    }

                </span>
                <input type="hidden" id="prid_@Html.DisplayFor(modelItem => item.id)" value="@item.pr" />
            </td>
            <td id="tdproj_@Html.DisplayFor(modelItem => item.id)" class="tdk">
                <span id="taskproj2_@Html.DisplayFor(modelItem => item.id)">

                    @if (ViewData["ProjectList"] != null)
                    {
                        foreach (var item21 in ViewData["ProjectList"] as IList<ProjectModule>)
                        {
                            if (item.proj == item21.id)
                            {
                                @:@item21.code
                            }

                        }
                    }


                </span>
                <input type="hidden" id="projid_@Html.DisplayFor(modelItem => item.id)" value="@item.proj" />
            </td>

            <td id="tdtask_@Html.DisplayFor(modelItem => item.id)" class="tdk">

                <span id="descriptiontask1_@Html.DisplayFor(modelItem => item.id)">@item.description.Replace("__XX_AMPERSAND_XX__", "&")</span>
                <input type="hidden" id="taskid_@Html.DisplayFor(modelItem => item.id)" value="@item.id" />

            </td>
            <td id="tdcat_@Html.DisplayFor(modelItem => item.id)" class="tdk">

                <span id="cat_@Html.DisplayFor(modelItem => item.id)"></span>

            </td>

            <td id="tdcreate_@Html.DisplayFor(modelItem => item.id)" class="tdk">
                <button id="link_@Html.DisplayFor(modelItem => item.id)" type="button" class=" add_fields5 btn btn-primary w-100" style="margin-bottom:5px;">Create</button>
                <button id="link2_@Html.DisplayFor(modelItem => item.id)" type="button" class="rtc5 btn btn-secondary w-100" style="margin-bottom:5px;">Ready to Close</button>
            </td>

        </tr>
        <tr id="secondrow2_@Html.DisplayFor(modelItem => item.id)" class="notShow hideall2" style="display:none">
            <td style="background-color: white;border-top-color: white;border-bottom-color: white;border-left-color: white; width:30px">
            </td>

            <td colspan="3" style="padding: 0; border: 1px solid #dee2e6; margin: 0; padding: 0; border-spacing: 0;">


                <div style="position:relative;min-height:150px; height: auto; overflow: hidden; border: 1px solid #dee2e6; padding:5px;" class="td-main">
                    <div style="float:left;" class="w-100">
                        <div  style="float:left; display: block; width: 100%;">
                            <strong>Requirements:</strong><br /><br />

                            <div style="height:101px;overflow-y: auto;" >
                                <pre style=" white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap;  white-space: -o-pre-wrap; word-wrap: break-word; /* Internet Explorer 5.5+ */" class="td-label td-lbl-projectstatus">@item.status.Replace("__XX_AMPERSAND_XX__", "&")</pre>

                            </div>

                        </div>



                    </div>
                    <!-- <div style="position:absolute;bottom: 5px;font-size: 9px;right: 10px;">
                <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
            </div>  -->
                  
                </div>
            </td>
            <td style="padding: 0; border: 1px solid #dee2e6;margin: 0; padding: 0; border-spacing: 0;">

                <div style="background-color:white;position:relative;min-height:150px; height: auto;border: 1px solid #dee2e6; padding: 5px" class="td-main">
                    <div style="float:left;" class="w-100">
                        <div style="float:left; display: block; width: 100%;">
                            Subtask v2: &nbsp;
                         
                            <div style="height:101px;overflow-y: auto;" id="divlist_@Html.DisplayFor(modelItem => item.id)">
                                <ul class="list-group checked-list-box" id="tasklist_@Html.DisplayFor(modelItem => item.id)">

                                    @Html.Action("DisplaySubTask2", "Admin", new { planner_id = item.id.ToString() })
                                </ul>
                            </div>
                            <span id="selnote2_@Html.DisplayFor(modelItem => item.id)" style="display: none;">
                                <textarea id="subtaskinfo_@Html.DisplayFor(modelItem => item.id)" style=" display: block; width: 100%; height: 80%;" class="form-control " rows="4" data-min-rows="4" placeholder="description" name="description"></textarea>
                            </span>
                        </div>
                        <div style="float:right">
                        </div>
                    </div>
                   
                </div>


            </td>

            <td style="padding: 0;border: 1px solid #dee2e6;margin: 0; padding: 0; border-spacing: 0;">


                <div style="position:relative;height:150px;border: 1px solid #dee2e6;padding: 10px 10px 10px 10px; " class="td-main">
                    <div style="float:left;" class="w-100">
                        <div style="float:left">
                            Discussion:<br />
                        </div>
                        <div style="float:right">
                            04/20/2020
                        </div>

                    </div>
                    <div style="position:absolute;bottom: 5px;font-size: 9px;right: 10px;">
                        <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                    </div>
                </div>
            </td>
            <td style=" padding: 0;border: 1px solid #dee2e6; margin: 0; padding: 0; border-spacing: 0;">



                <div style="border: 1px solid #dee2e6;min-height:150px;text-align:center;">
                    <button type="button" class="btn btn-primary w-80 btn_history btn2" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="margin-bottom:5px;">Notes</button>
                    <button type="button" class="btn btn-primary w-80 btn2" style="margin-bottom:5px;">Files</button>
                    <button type="button" class="btn btn-primary w-80 btn_images btn2" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="margin-bottom:5px;">Images</button>
             
                </div>

            </td>


        </tr> 
        }


    </tbody>
</table> <!-- end of table responsive  bootstrap table-->