﻿@using ITGWebTimeSheet2.Models
@model IEnumerable<ITGWebTimeSheet2.Models.TaskManModule>
@{
    ViewBag.Title = "Planner";
    Layout = "~/Views/_LayoutPlanner.cshtml";
}
<div class="app-content">
    <div class="app-title">
        <div>
            <form class="form-inline" action="" method="get">
                <input type="text" class="form-control searchbox" placeholder="keyword" name="key"/>&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <br/>
            <h1><i class="fa fa-tasks"></i> Planner <span><a href="#ModalVersion" data-toggle="modal" data-target="#ModalVersion">v1.20.0</a></span> - Add Task</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a class="btn btn-success btn-sm" href="@Url.Action("Planner")/?page=1&customerid=&pr=&category=&projectid=&dev=&resource=&stat=&refresh=1"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Planner")/?page=1&customerid=&pr=&projectid=&dev=&resource=&stat=">Planner</a>  </li>
        </ul>
    </div>

    <!--  New Design subtaskedit  -->
    <input id="prprev" type="hidden" />
    <input id="subtaskedit" type="hidden" />
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">


                    <div class="table-responsive2">
                        <table class="table table-hover table-bordered" id="taskmantable">
                            <thead style="background-color: #002080;color:white;" class="wrapper01">
                                <tr>
                                    <th style="background-color: white;border-top-color: white;border-bottom-color: white;border-left-color: white; width:30px">
                                    </th>
                                    <th style="border: 1px solid #dee2e6; border-bottom: 0; width:8%" class="tc-mainDEACTIVATE tc-sort" data-field="customer">
                                        <div style="float:left;">
                                            Customer
                                        </div>
                                        <div class="float-right td-sort sort-none" data-field="customer" data-sort="none" style=""><!--sort up--></div>
                                    </th>
                                    <th style="border-bottom: 0; width: 3%">
                                        #
                                    </th>
                                    <th style="border-bottom: 0; width:8%" class="tc-mainDEACTIVATE tc-sort" data-field="project">
                                        <div style="float:left;">
                                            Project
                                        </div>
                                    </th>
                                    <th style="border-bottom: 0;width:8%" class="tc-mainDEACTIVATE tc-sort" data-field="project">
                                        <div style="float:left;">
                                            Category
                                        </div>
                                    </th>
                                    <th style="border-bottom: 0;width:3%" class="tc-mainDEACTIVATE tc-sort" data-field="priority">
                                        <div style="float:left;">
                                            PR
                                        </div>
                                    </th>


                                    <th style="border-bottom: 0; width: 20%;" class="tc-mainDEACTIVATE tc-sort" data-field="task">
                                        <div style="float:left;">
                                            Task
                                        </div>
                                    </th>

                                    <th style="border-bottom: 0;width:5%" class="tc-main tc-type" data-field="type">
                                        <div style="float:left;">
                                            Type
                                        </div>
                                    </th>
                                    <th style="border-bottom: 0;width:10%" class="tc-main tc-resource" data-field="resource">
                                        <div style="float:left;">
                                            Resource
                                        </div>
                                    </th>
                                    <th style="border-bottom: 0;width:5%">
                                        %
                                    </th>
                                    <th style="border-bottom: 0;width:10%" class="tc-mainDEACTIVATE tc-sort tc-status" data-field="status">
                                        <div style="float:left;">
                                            Status
                                        </div>
                                    </th>
                                    <th style="border-bottom:0;width:5%" class="tc-mainDEACTIVATE tc-sort" data-field="start">
                                        <div style="float:left;">
                                            Start
                                        </div>
                                    </th>
                                    <th style="border-bottom: 0;width:5%" class="tc-mainDEACTIVATE tc-sort" data-field="finish">
                                        <div style="float:left;">
                                            Finish
                                        </div>
                                    </th>
                                    <th style="border-bottom: 0;width:3%" class="tc-mainDEACTIVATE tc-sort" data-field="esthours">
                                        <div style="float:left;">
                                            Est
                                        </div>
                                    </th>

                                    <th style="border-bottom: 0;width:3%" class="tc-mainDEACTIVATE tc-sort" data-field="acthours">
                                        <div style="float:left;">
                                            Act
                                        </div>
                                    </th>
                                    <th style="border-bottom: 0;width:3%" class="tc-mainDEACTIVATE tc-sort" data-field="rating">
                                        <div style="float:left;">
                                            Rating
                                        </div>
                                        <div style="float:right;color:#148ebd; display: none;">
                                            <i class="fas fa-sort-down fa-2x fdd" style="margin-top: -10px;"></i>
                                        </div>
                                    </th>


                                </tr>




                                <tr style="background-color: #ffd633; padding: 0; margin: 0; border-top: 0;border-bottom: 2px solid #000;">
                                    <th style="background-color: white;border-top-color: white;border-bottom-color: white;border-left-color: white; width:30px">
                                        <a href="#" class="add_fields3" style="margin-top:25px;"><i class="fas fa-plus-circle"></i></a>
                                    </th>

                                    <th style="border: none;" class="tc-mainDEACTIVATE" data-field="customer">
                                        <div class="tc-data tc-customer" style="clear: both; float:left; width: 100%; visibility: visible;">
                                            <span id="">
                                                <select id="hr_fil" class="form-control td-ddl td-ddl-filter form-control3" data-field="customerid" style="background-color: #ffd633; color: #000;">
                                                    <option value="">Select</option>
                                                    @if (ViewData["CustomerList"] != null)
                                                    {
                                                        foreach (var customer in ViewData["CustomerList"] as IList<CustomersModule>)
                                                        {
                                                            if (this.Request["customerid"] == customer.id)
                                                            {
                                                                <option value="@customer.id" selected="selected">@customer.code</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@customer.id">@customer.code</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </span>
                                        </div>
                                    </th>

                                    <th style="border-top: 0; border-bottom: 0;"></th>

                                    <th style="border-top: 0; border-bottom: 0; border-right: 1px #fff;" class="tc-mainDEACTIVATE" data-field="project">
                                        <div class="tc-data tc-project" style="clear: both; float:left; width: 100%; visibility: visible;">
                                            <span>
                                                <select id="pr_fil" class="form-control td-ddl td-ddl-filter form-control3" data-field="projectid" style="width:100%;background-color: #ffd633;color: #000;">
                                                    <option value="">Select</option>

                                                    @if (ViewData["ProjectList2"] != null)
                                                    {
                                                        foreach (var project in ViewData["ProjectList2"] as IList<ProjectModule>)
                                                        {
                                                            if (this.Request["projectid"] == project.id)
                                                            {
                                                                <option value="@project.id" selected="selected">@project.code</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@project.id">@project.code</option>
                                                            }
                                                        }
                                                    }


                                                </select>
                                            </span>
                                        </div>
                                    </th>

                                    <th style="border-top: 0; border-bottom: 0; border-right: 1px #fff;" class="tc-mainDEACTIVATE" data-field="category">
                                        <div class="tc-data tc-category" style="clear: both; float:left; width: 100%; visibility: visible;">
                                            <span>
                                                <select class="form-control td-ddl td-ddl-filter form-control3" data-field="category" style="width:100%;background-color: #ffd633;color: #000;">
                                                    <option value="">Select</option>
                                                    @if (ViewData["CatList"] != null)
                                                    {
                                                        foreach (var cate in ViewData["CatList"] as IList<CategoryModule>)
                                                        {
                                                            if (this.Request["category"] == cate.code)
                                                            {
                                                                <option value="@cate.code" selected="selected">@cate.code</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@cate.code">@cate.code</option>
                                                            }
                                                        }
                                                    }


                                                </select>
                                            </span>
                                        </div>
                                    </th>

                                    <th style="border-top: 0; border-bottom: 0; border-right: 1px #fff;" class="tc-mainDEACTIVATE" data-field="priority">
                                        <!--  <div class="tc-data tc-priority" style="clear: both; float:left; width: 100%; visibility: visible;">
                                            <span>
                                                <select class="form-control td-ddl td-ddl-filter form-control3" data-field="pr" id="selectpr_2020" style="width:100%;background-color: #ffd633;color: #000;">


                                                    <option value="" @( this.Request["pr"] == "" ? "selected=\"selected\"" : "")>None</option>
                                                    <option value="1" @( this.Request["pr"] == "1" ? "selected=\"selected\"" : "")>1</option>
                                                    <option value="2" @( this.Request["pr"] == "2" ? "selected=\"selected\"" : "")>2</option>
                                                    <option value="3" @( this.Request["pr"] == "3" ? "selected=\"selected\"" : "")>3</option>
                                                    <option value="4" @( this.Request["pr"] == "4" ? "selected=\"selected\"" : "")>4</option>
                                                    <option value="5" @( this.Request["pr"] == "5" ? "selected=\"selected\"" : "")>5</option>
                                                    <option value="6" @( this.Request["pr"] == "6" ? "selected=\"selected\"" : "")>6</option>
                                                    <option value="7" @( this.Request["pr"] == "7" ? "selected=\"selected\"" : "")>7</option>
                                                    <option value="8" @( this.Request["pr"] == "8" ? "selected=\"selected\"" : "")>8</option>
                                                    <option value="9" @( this.Request["pr"] == "9" ? "selected=\"selected\"" : "")>9</option>
                                                    <option value="10" @( this.Request["pr"] == "10" ? "selected=\"selected\"" : "")>10</option>
                                                    <option value="11" @( this.Request["pr"] == "11" ? "selected=\"selected\"" : "")>11</option>
                                                    <option value="12" @( this.Request["pr"] == "12" ? "selected=\"selected\"" : "")>12</option>
                                                    <option value="13" @( this.Request["pr"] == "13" ? "selected=\"selected\"" : "")>13</option>
                                                    <option value="14" @( this.Request["pr"] == "14" ? "selected=\"selected\"" : "")>14</option>
                                                    <option value="15" @( this.Request["pr"] == "15" ? "selected=\"selected\"" : "")>15</option>
                                                    <option value="16" @( this.Request["pr"] == "16" ? "selected=\"selected\"" : "")>16</option>
                                                    <option value="17" @( this.Request["pr"] == "17" ? "selected=\"selected\"" : "")>17</option>
                                                    <option value="18" @( this.Request["pr"] == "18" ? "selected=\"selected\"" : "")>18</option>
                                                    <option value="19" @( this.Request["pr"] == "19" ? "selected=\"selected\"" : "")>19</option>
                                                    <option value="20" @( this.Request["pr"] == "20" ? "selected=\"selected\"" : "")>20</option>

                                                </select>
                                            </span>
                                        </div>  -->
                                        <a href="#" id="sortme" style="margin-left: 10px;"><i class="fas fa-sort-down fa-2x" style="color: #002080;" aria-hidden="true"></i></a>
                                    </th>



                                    <th style="border-top: 0; border-bottom: 0; border-right: 1px #fff;" class="tc-mainDEACTIVATE">
                                        <div class="tc-data" style="clear: both; float:left; width: 100%; visibility: visible;">
                                        </div>
                                    </th>

                                    <th style="border-top: 0; border-bottom: 0; border-right: 1px #fff;" class="tc-mainDEACTIVATE" data-field="type">
                                        <div class="tc-data tc-type" style="clear: both; float:left; width: 100%; visibility: visible;">
                                            <span>
                                                <select class="form-control td-ddl td-ddl-filter form-control3" data-field="dev" style="width:100%;background-color: #ffd633;color: #000;">
                                                    <option value="">Select</option>
                                                    <option value="Dev" @( this.Request["dev"] == "Dev" ? "selected=\"selected\"" : "")>Dev</option>
                                                    <option value="Rev" @( this.Request["dev"] == "Rev" ? "selected=\"selected\"" : "")>Rev</option>
                                                    <option value="QA" @( this.Request["qa"] == "QA" ? "selected=\"selected\"" : "")>QA</option>
                                                    <option value="Defect" @( this.Request["defect"] == "Defect" ? "selected=\"selected\"" : "")>Defect</option>
                                                </select>
                                            </span>
                                        </div>
                                    </th>

                                    <th style="border-top: 0; border-bottom: 0; border-right: 1px #fff;" class="tc-mainDEACTIVATE" data-field="resource">
                                        <div class="tc-data tc-resource" style="clear: both; float:left; width: 100%; visibility: visible;">
                                            <span>
                                                <select class="form-control td-ddl td-ddl-filter" data-field="resource" style="width:100%;background-color: #ffd633; color: #000;">
                                                    <option value="">Select</option>
                                                    @if (ViewData["StaffList"] != null)
                                                    {
                                                        foreach (var staff in ViewData["StaffList"] as IList<Staff>)
                                                        {

                                                            if (this.Request["resource"] == staff.id)
                                                            {
                                                                <option value="@staff.id" selected="selected">@staff.fullname</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@staff.id">@staff.fullname</option>
                                                            }

                                                        }
                                                    }
                                                </select>
                                            </span>
                                        </div>
                                    </th>



                                    <th style="border-top: 0; border-bottom: 0; border-right: 1px #fff;" class="tc-mainDEACTIVATE">
                                        <div class="tc-data" style="clear: both; float:left; width: 100%; visibility: visible;">
                                        </div>
                                    </th>

                                    <th style="border-top: 0; border-bottom: 0; border-right: 1px #fff;" class="tc-mainDEACTIVATE" data-field="status">
                                        <div class="tc-data tc-status" style="clear: both; float:left; width: 100%; visibility: visible;">
                                            <span>
                                                @{ string status = (this.Request["stat"] != null) ? this.Request["stat"] : ""; }
                                                <select class="form-control selectpicker td-ddl td-ddl-filter form-control3" data-field="stat" data-actions-box="true" data-done-button="true" multiple="multiple" style="width:100%">
                                                    <option title="O" value="O" @( status.Contains("O") ? "selected=\"selected\"" : "")>Opened</option>
                                                    <option title="N" value="N" @( status.Contains("N") ? "selected=\"selected\"" : "")>New</option>
                                                    <option title="Pr" value="Pr" @( status.Contains("Pr") ? "selected=\"selected\"" : "")>In Progress</option>
                                                    <option title="D" value="D" @( status.Contains("D") ? "selected=\"selected\"" : "")>Development</option>
                                                    <option title="QA" value="QA" @( status.Contains("QA") ? "selected=\"selected\"" : "")>In QA</option>
                                                    <option title="R" value="R" @( status.Contains("R") ? "selected=\"selected\"" : "")>Ready to close</option>
                                                    <option title="X" value="X" @( status.Contains("X") ? "selected=\"selected\"" : "")>Cancelled</option>
                                                    <option title="I" value="I" @( status.Contains("I") ? "selected=\"selected\"" : "")>Issues</option>
                                                    <option title="M" value="M" @( status.Contains("M") ? "selected=\"selected\"" : "")>Monitor</option>
                                                    <option title="Pl" value="Pl" @( status.Contains("Pl") ? "selected=\"selected\"" : "")>Planning</option>
                                                    <option title="T" value="T" @( status.Contains("T") ? "selected=\"selected\"" : "")>Closed, Timesheet Incomplete</option>
                                                    <option title="C" value="C" @( status.Contains("C") ? "selected=\"selected\"" : "")>Closed</option>


                                                </select>
                                            </span>
                                        </div>
                                    </th>

                                    <th style="border-top: 0; border-bottom: 0; border-right: 1px #fff;" class="tc-mainDEACTIVATE">
                                        <div class="tc-data" style="clear: both; float:left; width: 100%; visibility: visible;">
                                        </div>
                                    </th>

                                    <th style="border-top: 0; border-bottom: 0; border-right: 1px #fff;" class="tc-mainDEACTIVATE">
                                        <div class="tc-data" style="clear: both; float:left; width: 100%;">
                                        </div>
                                    </th>

                                    <th style="border-top: 0; border-bottom: 0; border-right: 1px #fff;" class="tc-mainDEACTIVATE">
                                        <div class="tc-data" style="clear: both; float:left; width: 100%; visibility: visible;">
                                        </div>
                                    </th>

                                    <th style="border-top: 0; border-bottom: 0; border-right: 1px #fff;" class="tc-mainDEACTIVATE">
                                        <div class="tc-data" style="clear: both; float:left; width: 100%; visibility: visible;">
                                        </div>
                                    </th>

                                    <th style="border-top: 0; border-bottom: 0; border-right: 1px #fff;" class="tc-mainDEACTIVATE">
                                        <div class="tc-data" style="clear: both; float:left; width: 100%; visibility: visible;">
                                        </div>
                                    </th>
                                </tr>

                            </thead>
                            <!--
                            <tbody id="tbody-main wrapper4">

                            </tbody>
                            -->
                            <!-- filter start --> <!-- content start  -->
                            @{int counter = 0;}
                            <tbody id="wrapper4">
                                @foreach (var item in Model)
                                {
                                    <tr class="record" id="row_@Html.DisplayFor(modelItem => item.id)">
                                        <td tabindex="-1" style="background-color: white;border-top-color: white;border-bottom-color: white;border-left-color: white;">
                                            <a tabindex="-1" href="#" id="toogle_@Html.DisplayFor(modelItem => item.id)" class="dplay" style="margin-top:25px;">
                                                <i id="drop_@Html.DisplayFor(modelItem => item.id)" class="fas fa-play"></i>
                                            </a>
                                            <a tabindex="-1" href="#" id="copy_@Html.DisplayFor(modelItem => item.id)" class="clonetask" style="margin-top:10px;">
                                                <i id="clone_@Html.DisplayFor(modelItem => item.id)" class="fas fa-clone"></i>
                                            </a>
                                            <a tabindex="-1" href="#" id="d_@Html.DisplayFor(modelItem => item.id)" style="display:none" class="down_arrow"><i class="fas fa-sort-down fa-2x" style="color:#5fac11;"></i></a>
                                        </td>

                                        <td class="td-main" tabindex="@(counter++)" style="border: 1px solid #dee2e6;" id="@Html.DisplayFor(modelItem => item.id)">
                                            <div id="@Html.DisplayFor(modelItem => item.id)" class="td-label" style="width: 90%; border: 0; margin: 0; padding: 0;">
                                                @if (ViewData["CustomerList"] != null)
                                                {
                                                    foreach (var item1 in ViewData["CustomerList"] as IList<CustomersModule>)
                                                    {
                                                        if (item.cust == item1.id)
                                                        {
                                                            @:@item1.code
                                                            <input type="hidden" id="cust2_@item.id" value="@item1.id" />
                                                        }
                                                    }
                                                }
                                            </div>
                                            <div class="td-control" data-type="ddl" data-field="customer" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="border: 0; margin: 0; padding: 0; display: none;">
                                                <select class="form-control td-ddl td-ddl-reload td-ddl-customer" data-field="customer" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="width:100%">
                                                    @if (ViewData["CustomerList"] != null)
                                                    {
                                                        foreach (var item1 in ViewData["CustomerList"] as IList<CustomersModule>)
                                                        {
                                                            <option value="@item1.id">@item1.code</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </td>

                                        <td id="tnum_@Html.DisplayFor(modelItem => item.id)" class="td-main">@item.tnum</td>

                                        <td id="tdproj_@item.id" class="tdnote" tabindex="@(counter++)">
                                            <div class="td-label" id="projlist_@Html.DisplayFor(modelItem => item.id)">
                                                @if (ViewData["ProjectList"] != null)
                                                {
                                                    foreach (var item1 in ViewData["ProjectList"] as IList<ProjectModule>)
                                                    {
                                                        if (item.proj == item1.id)
                                                        {
                                                            @:@item1.code
                                                        }
                                                        if (Convert.ToString(item.proj) == "0")
                                                        {
                                                            @:Please select
                                                            break;
                                                        }
                                                    }
                                                }
                                            </div>
                                            <input type="hidden" id="proj2_@item.id" value="@item.proj" />



                                        </td>


                                        <td id="tdcat_@item.id" class="tdnote" tabindex="@(counter++)" style="border: 1px solid #dee2e6;">
                                            <div class="td-label" id="catlist_@Html.DisplayFor(modelItem => item.id)">
                                                @item.category
                                            </div>



                                        </td>

                                        <td class="tdnote" tabindex="@(counter++)" id="tdpr_@Html.DisplayFor(modelItem => item.id)">
                                            <div class="td-label" style="width: 90%; border: 0; margin: 0; padding: 0;" id="pr_@Html.DisplayFor(modelItem => item.id)">
                                                @if ((Convert.ToInt16(item.pr) == 0) || (Convert.ToInt16(item.pr) > 21))
                                                {

                                                    if (Convert.ToInt16(item.pr) == 23)
                                                    {
                                                        @:@Html.DisplayFor(modelItem => item.pr)
                                                    }
                                                    else
                                                    {
                                                        @:
                                                    }


                                                }
                                                else
                                                {
                                                    if (Convert.ToInt16(item.pr) == 21)
                                                    {
                                                        @:RTC
                                                    }
                                                    else
                                                    {
                                                        @:@Html.DisplayFor(modelItem => item.pr)
                                                    }


                                                }


                                            </div>

                                        </td>



                                        <td class="td-main" tabindex="@(counter++)">
                                            <pre style="white-space:pre-wrap; word-wrap:break-word; width: 100%;" class="td-label">@Html.DisplayFor(modelItem => item.description)</pre>
                                            <span class="sel_cust td-control" data-type="txt" data-field="task" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="width: 90%; border: 0; margin: 0; padding: 0; display: none;">
                                                <textarea class="form-control task_input td-txt" rows="1" data-min-rows="1" placeholder="description" style="white-space:pre-wrap; word-wrap:break-word; width: 100%;">@Html.DisplayFor(modelItem => item.description)</textarea>
                                            </span>
                                        </td>


                                        <td class="td-main" tabindex="@(counter++)">
                                            <span id="taskdev_@Html.DisplayFor(modelItem => item.id)" class="td-label">@Html.DisplayFor(modelItem => item.dev)</span>
                                            <span id="seldev_@Html.DisplayFor(modelItem => item.id)" class="sel_pr td-control" data-type="ddl" data-field="type" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="border: 0; margin: 0; padding: 0; display: none;">
                                                <select class="form-control td-ddl" id="selectdev_@Html.DisplayFor(modelItem => item.id)" style="" width: 100%;">
                                                    <option value="0">Select</option>
                                                    <option value="Dev">Dev</option>
                                                    <option value="Rev">Rev</option>
                                                    <option value="QA">QA</option>
                                                    <option value="Defect">Defect</option>
                                                </select>
                                            </span>
                                        </td>


                                        <td class="td-main" tabindex="@(counter++)">
                                            @{string staffname = ""; }
                                            @if (ViewData["StaffList"] != null)
                                            {
                                                foreach (var staff in ViewData["StaffList"] as IList<Staff>)
                                                {
                                                    if (item.resource == staff.id)
                                                    {
                                                        staffname = staff.fullname;
                                                        break;
                                                    }
                                                    if (Convert.ToString(item.resource) == "0")
                                                    {
                                                        staffname = "None";
                                                        break;
                                                    }

                                                }

                                            }
                                            <span class="td-label" id="reso_@Html.DisplayFor(modelItem => item.id)">@staffname</span>
                                            <span class="sel_resc td-control" data-type="ddl" data-field="resource" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="display: none;">
                                                <select data-type="ddl" data-field="dev" class="form-control td-ddl" id="selectresc_@Html.DisplayFor(modelItem => item.id)" style="width: 100%;">
                                                    <option value="">None</option>
                                                    @if (ViewData["StaffList"] != null)
                                                    {
                                                        foreach (var item2 in ViewData["StaffList"] as IList<Staff>)
                                                        {
                                                            <option value="@item2.id">@item2.fullname</option>
                                                        }
                                                    }
                                                </select>
                                            </span>
                                        </td>


                                        <td></td>



                                        <td class="td-main" tabindex="@(counter++)">
                                            <span id="taskstat_@Html.DisplayFor(modelItem => item.id)" class="td-label">
                                                @Html.DisplayFor(modelItem => item.status)
                                            </span>
                                            <span id="selstat_@Html.DisplayFor(modelItem => item.id)" class="sel_stat td-control" data-type="ddl" data-field="status" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="display: none;">
                                                <select class="form-control td-ddl" id="selectstat_@Html.DisplayFor(modelItem => item.id)">
                                                    <option value="Please select">select</option>
                                                    <option value="Opened">Opened</option>
                                                    <option value="New">New</option>
                                                    <option value="In Progress">In Progress</option>
                                                    <option value="Development">Development</option>
                                                    <option value="In QA">In QA</option>
                                                    <option value="Ready to close">Ready to close</option>
                                                    <option value="Cancelled">Cancelled</option>
                                                    <option value="Issues">Issues</option>
                                                    <option value="Monitor">Monitor</option>
                                                    <option value="Planning">Planning</option>
                                                    <option value="Closed, Timesheet Incomplete">Closed, Timesheet Incomplete</option>
                                                    <option value="Closed">Closed</option>
                                                </select>
                                            </span>
                                        </td>

                                        <td class="td-main" tabindex="@(counter++)">
                                            <span id="taskstart_@Html.DisplayFor(modelItem => item.id)" class="td-label">@Html.DisplayFor(modelItem => item.ddate) </span>
                                            <span id="selstart_@Html.DisplayFor(modelItem => item.id)" class="sel_stat td-control" data-type="txt" data-field="date" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="display: none;">
                                                <input id="starttask_@Html.DisplayFor(modelItem => item.id)" type="text" class="datepicker99 td-txt" value="@Html.DisplayFor(modelItem => item.ddate)" />
                                            </span>
                                        </td>
                                        <td class="td-main" tabindex="@(counter++)">
                                            <span class="td-label">@Html.DisplayFor(modelItem => item.finish) </span>
                                            <span class="td-control" data-type="txt" data-field="finish" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="display: none;">
                                                <input type="text" class="datepicker99 td-txt" value="@Html.DisplayFor(modelItem => item.finish)" />
                                            </span>
                                        </td>

                                        <td class="td-main" tabindex="@(counter++)">
                                            <span id="taskest_@Html.DisplayFor(modelItem => item.id)" class="td-label">@Html.DisplayFor(modelItem => item.esthours)</span>
                                            <span id="selest_@Html.DisplayFor(modelItem => item.id)" class="sel_cust td-control" data-type="txt" data-field="esthours" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="display: none;">
                                                <input id="esttask_@Html.DisplayFor(modelItem => item.id)" class="form-control task_input td-txt" type="text" value="@Html.DisplayFor(modelItem => item.esthours)" />
                                            </span>
                                        </td>
                                        <td>
                                            <span id="taskact_@Html.DisplayFor(modelItem => item.id)" class="">@Html.DisplayFor(modelItem => item.act_new) </span>
                                        </td>
                                        <td><i class="fas fa-circle" color="#5fac11"></i></td>
                                    </tr>

                                    <tr id="secondrow_@Html.DisplayFor(modelItem => item.id)" class="notShow hideall">
                                        <td colspan="1" style="background-color: white;border-top-color: white;border-bottom-color: white;border-left-color: white;">
                                            <a href="#" id="remove_@Html.DisplayFor(modelItem => item.id)" class="remove_field2" style="margin-top:25px;display:none;position:relative;top: 135px;"><i class="fas fa-minus-circle"></i></a>
                                        </td>
                                        <td colspan="5" style="width: 100%; padding: 0; border: 1px solid #dee2e6; margin: 0; padding: 0; border-spacing: 0;">


                                            <div style="position:relative;min-height:150px; height: auto; overflow: hidden; border: 1px solid #dee2e6; padding:5px;" class="td-main">
                                                <div style="float:left;" class="w-100">
                                                    <div class="td-main" style="float:left; display: block; width: 100%;">
                                                        <strong>Summary</strong><br />

                                                        <div style="height:110px;overflow-y: auto;" class="td-main">
                                                            <pre style=" white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap;  white-space: -o-pre-wrap; word-wrap: break-word; /* Internet Explorer 5.5+ */" class="td-label td-lbl-projectstatus">@Html.DisplayFor(modelItem => item.project_status)</pre>
                                                            <span class="td-control" data-type="txt" data-field="project_status" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="display: none;">
                                                                <textarea style="display: block; width: 100%; height: 80%;" class="form-control td-txt td-txt-projectstatus" data-projectid="@Html.DisplayFor(modelItem => item.proj)" rows="4" data-min-rows="4" placeholder="description" name="description">@Html.DisplayFor(modelItem => item.project_status)</textarea>
                                                            </span>

                                                        </div>
                                                    </div>
                                                </div>

                                                <!--    <div style="float:left;" class="w-100">
                                                        <div style="position:absolute;bottom: 0px;font-size: 11px;background-color: #002080;color:white;height:20px;width:100%;display:block;margin-left:-5px">
                                                            <span style="float:left;margin-left:5px;"><strong>View All </strong></span>
                                                            <span style="float:right;margin-right:5px">
                                                                <a href="#" style="color:white" class="require" id="req_@Html.DisplayFor(modelItem => item.id)"><i class="fas fa-external-link-alt"></i></a>

                                                            </span>
                                                        </div>
                                                    </div> -->
                                            </div>
                                        </td>
                                        <td colspan="3" style="width: 100%; padding: 0; border: 1px solid #dee2e6;margin: 0; padding: 0; border-spacing: 0;">

                                            <div style="background-color:white;position:relative;min-height:150px; height: auto;border: 1px solid #dee2e6; padding: 5px" class="td-main">
                                                <div style="float:left;" class="w-100">
                                                    <div style="float:left; display: block; width: 100%;">
                                                        <strong>Requirements</strong>&nbsp;<a id="add_subtask_@Html.DisplayFor(modelItem => item.id)" href="#" class="subtasklist"><i class="fas fa-plus-circle"></i></a>&nbsp;&nbsp;
                                                        <a id="save_subtask_@Html.DisplayFor(modelItem => item.id)" href="#" style="display:none" class="savetasklist"><i class="fas fa-save"></i></a>
                                                        <a id="cancel_subtask_@Html.DisplayFor(modelItem => item.id)" href="#" style="display:none" class="canceltasklist"><i class="fas fa-minus-square"></i></a>

                                                        <div style="height:110px;overflow-y: auto;" id="divlist_@Html.DisplayFor(modelItem => item.id)">
                                                            <ul class="list-group checked-list-box" id="tasklist_@Html.DisplayFor(modelItem => item.id)">
                                                           
                                                                @Html.Action("DisplaySubTask", "Admin", new { planner_id = item.id.ToString() })
                                                            </ul>
                                                        </div>
                                                        <span id="selnote2_@Html.DisplayFor(modelItem => item.id)" style="display: none;">
                                                            <textarea id="subtaskinfo_@Html.DisplayFor(modelItem => item.id)" style=" display: block; width: 100%; height: 80%;" class="form-control " rows="4" data-min-rows="4" placeholder="description" name="description"></textarea>
                                                        </span>
                                                    </div>
                                                    <div style="float:right">
                                                    </div>
                                                </div>
                                                <!--  <div style="float:left;" class="w-100">
                                                      <div style="position:absolute;bottom: 0px;font-size: 11px;background-color: #002080;color:white;height:20px;width:100%;display:block;margin-left:-5px">
                                                          <span style="float:left;margin-left:5px;"><strong>Status: </strong></span>
                                                          <span style="float:right;margin-right:5px"><a href="" style="color:white" class="loadallsubtask" id="allsubtask_@Html.DisplayFor(modelItem => item.id)"><i class="fas fa-external-link-alt"></i></a></span>
                                                      </div>
                                                  </div> -->
                                            </div>


                                        </td>



                                        <td colspan="5" style="width: 100%; padding: 0;border: 1px solid #dee2e6;margin: 0; padding: 0; border-spacing: 0;">


                                            <div style="position:relative;height:150px;border: 1px solid #dee2e6;padding: 10px 10px 10px 10px; " class="td-main">
                                                <div style="float:left;" class="w-100">
                                                    <div style="float:left">
                                                        Discussion:<br />
                                                    </div>
                                                    <div style="float:right">
                                                        04/20/2020
                                                    </div>

                                                </div>
                                                <div style="position:absolute;bottom: 5px;font-size: 9px;right: 10px;">
                                                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td colspan="2" style="width: 100%; padding: 0;border: 1px solid #dee2e6; margin: 0; padding: 0; border-spacing: 0;">



                                            <div style="border: 1px solid #dee2e6;min-height:150px;text-align:center;">
                                                <button type="button" class="btn btn-success w-80 btn2 btn_save" style="margin-bottom:5px;" data-taskid="@Html.DisplayFor(modelItem => item.id)">Save</button>
                                                <button type="button" class="btn btn-primary w-80 btn_history btn2" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="margin-bottom:5px;">Notes</button>
                                                <button type="button" class="btn btn-primary w-80 btn2 showFile"  attr-task-id="@Html.DisplayFor(modelItem => item.id)" style="margin-bottom:5px;">Files</button>
                                                <button type="button" class="btn btn-primary w-80 btn_images btn2" data-taskid="@Html.DisplayFor(modelItem => item.id)" style="margin-bottom:5px;">Images</button>
                                                <button type="button" class="btn btn-primary w-80 btn2">Audit</button>

                                            </div>

                                        </td>

                                    </tr>
                                }

                            </tbody>


                        </table>
                        <div style="text-align:right">
                            <button type="button" class="btn btn-primary" style="background-color:#d9aa1d;border-color: #d9aa1d;">CSV</button>
                            <button type="button" class="btn btn-primary">Next</button>
                            @for (int i = 0; i < ViewBag.PageCount; i++)
                            {
                                <a href="@Url.Action("Planner", new { customerid = Request.QueryString["customerid"], projectid = Request.QueryString["projectid"], stat = Request.QueryString["stat"],dev = Request.QueryString["dev"],resource = Request.QueryString["resource"],pr = Request.QueryString["pr"],key= Request.QueryString["key"],  page = (i + 1) })" type="button" class="btn btn-outline-info">@(i + 1)</a>
                            }
                        </div>
                    </div> <!-- end of table responsive  bootstrap table-->
                </div>
            </div>
        </div>
    </div>
</div>  <!-- old main-->

