@using ITGWebTimeSheet2.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterWest Human Resources Portal</title>
    <link rel="icon" href="@Url.Content("~/Content/Images/ITG_Brand.gif")">

    <link rel="stylesheet" href="@Url.Content("~/Content/main.css")">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="@Url.Content("~/Content/fontawesome.min.css.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap-4---Tabs-with-Arrows.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/iframe.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/table.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/login.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/menubtn.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")">

    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
    <script src="https://kit.fontawesome.com/1b585ee530.js" crossorigin="anonymous"></script>

    <style type="text/css">
    /*
        .datepicker5,.datepicker99
        {
        width: fit-content;
        }
    */    



.image-area {
  position: relative;
  width: 50%;
  background: #333;
}
.image-area img{
  max-width: 100%;
  height: auto;
}
.remove-image {
display: none;
position: absolute;
top: -10px;
right: -10px;
border-radius: 10em;
padding: 2px 6px 3px;
text-decoration: none;
font: 700 21px/20px sans-serif;
background: #555;
border: 3px solid #fff;
color: #FFF;
box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.remove-image:hover {
 background: #E54E4E;
  padding: 3px 7px 5px;
  top: -11px;
right: -11px;
}
.remove-image:active {
 background: #E54E4E;
  top: -10px;
right: -11px;
}
    </style>

</head>
<body class="app sidebar-mini sidenav-toggled">
    <!-- Navbar-->
    <header class="app-header">
        <a class="app-header__logo" href="#"></a>
        <!-- Sidebar toggle button
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a> -->
        <!-- Navbar Right Menu-->
        <ul class="app-nav">

            <!--Notification Menu-->
            <!-- End Notification Menu-->
            <!-- User Menu-->
            <li class="dropdown">
                <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">

                    <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div> -->

    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
            <div>
                <p class="app-sidebar__user-name">Admin</p>
                <p class="app-sidebar__user-designation">Administrator</p>
            </div>
        </div>
        <ul class="app-menu">

            <li><a class="app-menu__item" href="~/Admin/Login"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Timesheet</span></a></li>
            <li><a class="app-menu__item" href="~/Admin/Planner"><i class="app-menu__icon fa fa-tasks"></i><span class="app-menu__label">Planner</span></a></li>
            <li><a class="app-menu__item" href="~/Admin/Reporting"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Reporting</span></a></li>
            <li><a class="app-menu__item" href="~/Admin/Project"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">Program/Projects</span></a></li>
            <li><a class="app-menu__item" href="~/Admin/Customers"><i class="app-menu__icon fas fa-address-book"></i><span class="app-menu__label">Customers</span></a></li>

            <li><a class="app-menu__item" href="~/Admin/Staff"><i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Staffs</span></a></li>
            <li><a class="app-menu__item" href="#"><i class="app-menu__icon fa fa-calendar-times"></i><span class="app-menu__label">Version Info</span></a></li>


        </ul>
    </aside>
    <div>
        @RenderBody()
    </div>
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/clean-blog.js")"></script>
    <script src="@Url.Content("~/Scripts/SearchTable.js")"></script>
  
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="@Url.Content("~/Scripts/main.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts//jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>

    <script type="text/javascript">$('#sampleTable').DataTable();</script>


    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

    <script src="@Url.Content("~/Scripts/popper.min.js")"></script>

    <script>
        $('.datepicker3').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'mm/dd/yyyy',
            formatSubmit: 'mm/dd/yyyy',
        });
        $('.datepicker4').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'mm/dd/yyyy',
            formatSubmit: 'mm/dd/yyyy',
        });

        //------------------ auto expanding

        /*
        $(document)
            .one('focus.autoExpand', 'textarea.autoExpand', function () {
                var savedValue = this.value;
                this.value = '';
                this.baseScrollHeight = this.scrollHeight;
                this.value = savedValue;
            })
            .on('input.autoExpand', 'textarea.autoExpand', function () {
                var minRows = this.getAttribute('data-min-rows') | 0, rows;
                this.rows = minRows;
                rows = Math.ceil((this.scrollHeight - this.baseScrollHeight) / 16);
                this.rows = minRows + rows;
            });
         */   
    </script>


    <script>

    function showNewTaskGui(taskId){
        try{

                let intRecords = taskId; //$('.record').length + 1;
                let rowHeight = $('.record').last().height();
                let dy = 
`
<tr class="record record-first" id="row__iteratormask__" style="background-color:#dee2e6;">
   
    <td style="background-color: white;border-top-color: white;border-bottom-color: white;border-left-color: white;">
      <a href="#" id="toogle__iteratormask__" class="dplay record-first-play" style="margin-top:25px;display:none"><i id="drop__iteratormask__" class="fas fa-play"></i></a>
      <a href="#" id="d__iteratormask__" style="display:none" class="down_arrow"><i class="fas fa-sort-down fa-2x" style="color:#5fac11;"></i></a>
   </td >

   <td class="td-main" tabindex="__taskid__1001" style="border: 1px solid #dee2e6;">
      <span id="custtask__iteratormask__" class="task_input2_TO_REMOVE td-label">Click to select</span> <input type="hidden" id="custtask_01" /> 
      <span id="selcust__iteratormask__" class="sel_cust td-control" data-type="ddl" data-field="customer" data-taskid="__taskid__" style="display: none;">
         <select class="form-control td-ddl" id="selectcust__iteratormask__" style="width: 95%;">
            <option value="0">Select Customer</option>
            @if (ViewData["CustomerList"] != null) { foreach (var item1 in ViewData["CustomerList"] as IList
            <CustomersModule>
            ) { 
            <option value="@item1.id">@item1.code</option>
            } } 
         </select>
      </span>
   </td>

   <td class="td-main" tabindex="__taskid__1002">
      <span id="taskpr__iteratormask__" class="task_input2_TO_REMOVE td-label">PR</span> 
      <span id="selpr__iteratormask__" class="sel_pr td-control" data-type="ddl" data-field="priority" data-taskid="__taskid__" style="display: none;">
         <select class="form-control td-ddl" id="selectpr__iteratormask__" onchange="prchange(this.id)" style="width: 95%;">
            <option value="">Select</option> 
            <option value="None">None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
         </select>
      </span>
   </td>

   <td class="td-main" tabindex="__taskid__1003">
      <span id="taskproj__iteratormask__" data-idx="__iteratormask__" class="task_input2_TO_REMOVE spn_taskproj td-label"></span>
      <span id="selproj__iteratormask__" class="sel_cust td-control"  data-type="ddl" data-field="project" data-taskid="__taskid__" data-idx="__iteratormask__" style="display: none;">
         <select class="form-control selectproj td-ddl td-ddl-project" data-taskid="__taskid__" id="selectproj__iteratormask__" data-idx="__iteratormask__" style="width: 95%;">
            <option value="0">Select Project</option>
            @if (ViewData["ProjectList"] != null) { foreach (var item1 in ViewData["ProjectList"] as IList
            <ProjectModule>
            ) { 
            <option value="@item1.id">@item1.code</option>
            } } 
         </select>
      </span>
   </td>

   <td class="td-main" tabindex="__taskid__1004">
      <span id="descriptiontask1__iteratormask__" class="task_input2_TO_REMOVE td-label"></span>
      <span id="seldesc__iteratormask__" class="sel_cust td-control" data-type="txt" data-field="task" data-taskid="__taskid__" style="display: none;">
          <textarea id="descriptiontask__iteratormask__" class="autoExpand form-control task_input td-txt" rows="1" data-min-rows="1" placeholder="description" name="description">Add Comments</textarea>
      </span> 
   </td >

   <td class="td-main" tabindex="__taskid__1005">
      <span id="taskdev__iteratormask__" class="task_input2_TO_REMOVE td-label">Select</span> 
      <span id="seldev__iteratormask__" class="sel_pr td-control" data-type="ddl" data-field="type" data-taskid="__taskid__" style="display: none;">
         <select class="form-control td-ddl" id="selectdev__iteratormask__" style="width: 95%;">
            <option value="0">Select</option>
            <option value="Dev">Dev</option>
            <option value="Rev">Rev</option>
            <option value="QA">QA</option>
            <option value="Defect">Defect</option>
         </select>
      </span>
   </td>

   <td class="td-main" tabindex="__taskid__1006">
      <span id="taskresc__iteratormask__" class="task_input2_TO_REMOVE td-label">Select Resouce </span>
      <input type="hidden" id="taskresc_01" /> 
      <span id="selresc__iteratormask__" class="sel_resc td-control" data-type="ddl" data-field="resource" data-taskid="__taskid__" style="display: none;">
         <select class="form-control td-ddl" id="selectresc__iteratormask__" style="width: 95%;">
            <option value="0">Select Resource</option>
            @if (ViewData["StaffList"] != null) { foreach (var item2 in ViewData["StaffList"] as IList
            <Staff>
            ) { 
            <option value="@item2.id">@item2.fullname</option>
            } } 
         </select>
      </span>
   </td>

   <td class="td-main" tabindex="__taskid__1007">
       <i class="fas fa-circle" color="#5fac11" aria-hidden="true"></i>
   </td>

   <td class="td-main" tabindex="__taskid__1008">
      <span id="taskstat__iteratormask__" class="task_input2_TO_REMOVE td-label">Please select </span> 
      <span id="selstat__iteratormask__" class="sel_stat td-control" data-type="ddl" data-field="status" data-taskid="__taskid__" style="display: none;">
         <select class="form-control td-ddl" id="selectstat__iteratormask__" style="width: 95%;">
            <option value="Please select">Please select</option>
            <option value="Opened">Opened</option>
            <option value="In Progress">In Progress</option>
            <option value="Ready to close">Ready to close</option>
            <option value="Issues">Issues</option>
            <option value="Monitor">Monitor</option>
            <option value="In Queue">In Queue</option>
            <option value="Closed">Closed</option>
         </select>
      </span>
   </td>

   <td class="td-main" tabindex="__taskid__1009">
       <span id="taskstart__iteratormask__" class="task_input2_TO_REMOVE td-label">Select date </span>
       <span id="selstart__iteratormask__" class="sel_stat td-control" data-type="txt" data-field="date" data-taskid="__taskid__" style="display: none;">
        <input class="datepicker5 td-txt" id="starttask__iteratormask__" type="text" style="width: 95%;" />
       </span>
   </td>
   
   <td> </td>
   
   <td class="td-main" tabindex="1010">
       <span id="taskest__iteratormask__" class="task_input2_TO_REMOVE td-label">0.00</span>
       <span id="selest__iteratormask__" class="sel_cust td-control" data-type="txt" data-field="esthours" data-taskid="__taskid__" style="display: none;">
           <input id="esttask__iteratormask__" class="form-control td-txt" type="text" value="0.00" style="width: 95%;" />
       </span>
   </td>
   
   <td></td>
</tr>



<tr style="background-color:#dee2e6" class="notShow hideall" id="secondrow__iteratormask__">
   <td colspan="1" style="background-color: white;border-top-color: white;border-bottom-color: white;border-left-color: white;">
       <a href="#" id="remove__iteratormask__" class="remove_field2" style="position:relative;top: 135px;"><i class="fas fa-minus-circle"></i></a>
    </td>

   <td colspan="12">

      <div class="row3" style="width: 100%;">
         

            <div style="position:relative;min-height:150px; height: auto; overflow: none;border:solid 1px; padding: 10px 10px 10px 10px;" class="w-29 td-main">
                <div style="float:left;" class="w-100">
                    <div class="td-main"  style="float:left; display: block; width: 100%;">
                        Project Status:<br />
                        <pre class="td-label td-lbl-projectstatus"></pre>
                        <span class="td-control" data-type="txt" data-field="project_status" data-taskid="" style="display: none;">
                            <textarea 
                            style="display: block; width: 100%; height: 80%;" 
                            class="form-control td-txt td-txt-projectstatus" data-projectid="0" rows="4" data-min-rows="4" placeholder="description" 
                            name="description"></textarea>
                        </span>
                    </div>
                    <div style="float:right; display: none;">
                        Date:
                    </div>
                </div>
                <div style="position:absolute;bottom: 5px;font-size: 9px;right: 10px;">
                    <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a>
                </div>

            </div>


         
         <div class="w-1"> </div>
         
         <div style="background-color:white;position:relative;min-height:150px; height: auto; overflow: none;border:solid 1px; padding: 10px 10px 10px 10px;" class="w-29 td-main">    
            <div style="float:left;" class="w-100">    
               <div class="td-main" style="float:left; display: block; width: 100%;">    
                   Subtasks:<br />
                   
                   <pre id="notetask__iteratormask__" class="td-label"></pre>

                   <span id="selnote__iteratormask__" class="sel_cust td-control" data-type="txt" data-field="notes" data-taskid="__taskid__" style="display: none;">
                       <textarea id="notetask2__iteratormask__" style="display: block; width: 100%; height: 80%;" class="form-control td-txt" rows="4" data-min-rows="4" placeholder="Click to edit">Add Subtasks</textarea>
                   </span>

                </div>
               <div style="float:right"> </div>
            </div>
            <div style="position:absolute;bottom: 5px;font-size: 9px;right: 10px;"> <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a> </div>
         </div>
         
         <div class="w-1"> </div>

         <div style="position:relative;height:150px;border:solid 1px; padding: 10px 10px 10px 10px; " class="w-29 td-main">
            <div style="float:left;" class="w-100">
               <div style="float:left"> Discussion:<br /> </div>
               <div style="float:right"> 04/20/2020 </div>
            </div>
            <div style="position:absolute;bottom: 5px;font-size: 9px;right: 10px;"> <a href="#"><i class="fas fa-external-link-alt fa-2x"></i></a> </div>
         </div>

         <div class="w-1"> </div>

         <div class="w-10">
             <button type="button" class="btn btn-primary w-100" style="margin-bottom:5px;">History / Notes</button>
             <button type="button" class="btn btn-primary w-100" style="margin-bottom:5px;">Files</button>
             <button type="button" class="btn btn-primary w-100 btn_images" data-taskid="__taskid__" style="margin-bottom:5px;">Images</button>
             <button type="button" class="btn btn-primary w-100">Audit</button> </div>

      </div>
   </td >
</tr >
`;


                if ($('.record-first').length > 0)
                {
                    $('.record-first').css('background-color', '#fff');
                    $('.record-first').css('height', rowHeight);
                    $('.record-first-play').css('display', 'block');
                }

               if($('#row_0').length > 0)
               {
                    alert("The newly added row is not yet save. Please select customers to save it.")
               }
                else {
                    bugsolve()
                    dy = dy.split('__taskid__').join(intRecords);
                    $('#wrapper4').prepend(dy.split('__iteratormask__').join('_' + intRecords));
                    $('.hideall').hide();
                    $('.down_arrow').hide();
                    $('#d_' + intRecords).show();
                    $('#secondrow_' + intRecords).show();



                    $('[id^=drop_]').each(function () {
                        $(this).removeClass('fa-minus-circle').addClass('fa-play');
                    });


                    $('[id^=toogle_]').each(function () {
                     //   $(this).removeClass('remove_field2').addClass('dplay');
                        $(this).show();
                    });

                    $('[id^=remove_]').each(function () {
                        $(this).hide();
                    });

                  

                    $('#toogle_' + intRecords).hide();
                    $('#remove_' + intRecords).show();
                  
                }

                                }catch(ex){
                                    alert(ex);
                                }
    }    
    function addTask(){

                     var cust_d = '0';
                     var pr_d = '0';
                     var proj_d = '0';
                     var desc_d = '';
                     var dev_d = '';
                     var resc_d = '';
                     var stat_d = '';
                     var start_d = '';
                     var est_d = '';
                     var note_d = '';

                var data_d = "";
                  data_d =   'cust=' + cust_d + '&proj=' + proj_d +  '&resc=' + resc_d + '&description=' + desc_d;
                     data_d = data_d + '&pr=' + pr_d + '&stat=' + stat_d + '&esthours=' + est_d;
                     data_d = data_d + ' &dev=' + dev_d + '&startdate=' + start_d + '&note=' + note_d;
                     console.log(data_d);




                 $.ajax({
                            type: "POST",
                            url: "@Url.Action("AddTask")",
                            cache: false,
                            data: data_d,
                            complete: function (res) {
                                    showNewTaskGui(res.responseText);
                                }
                            });
        }

    </script>

    <script>
        // all functions for editing infos and
        $(function () {

            // customer editing
            $(".cust_dbclick").dblclick(function () {
                var element = $(this);
                var id_string = element.attr("id");
                var del_id = id_string.split("_");
                var info = 'id=' + del_id[1];

                $("#edit_name_" + del_id[1]).show();  // now show input for the span
                $("#name_" + del_id[1]).hide();                     // hide the span
                $("#savename_" + del_id[1]).show();  // now show save for the span

            });


            // save functions here
            // customer save
            $(".savecustomers").click(function () {
                var element = $(this);
                var id_string = element.attr("id");
                var del_id = id_string.split("_");

                $("#edit_name_" + del_id[1]).hide();  // now show input for the span
                $("#name_" + del_id[1]).text($("#edit_name_" + del_id[1]).val());   // copy the input text to span
                var info = 'id=' + del_id[1] + '&name=' + $("#edit_name_" + del_id[1]).val();
                console.log(info);
                 $.ajax({
                        type: "GET",
                        url: "@Url.Action("UpdateCustomers")",
                        data: info,
                        success: function () {
                            //      location.reload(true);
                        }
                    });

                $("#name_" + del_id[1]).show();                     // hide the span
                $("#savename_" + del_id[1]).hide();  // now show save for the span
               });


            //---- project editing
             $(".proj_dbclick").dblclick(function () {
                var element = $(this);
                var id_string = element.attr("id");
                var del_id = id_string.split("_");
                var info = 'id=' + del_id[1];

                $("#edit_name_" + del_id[1]).show();  // now show input for the span
                $("#name_" + del_id[1]).hide();                     // hide the span
                $("#savename_" + del_id[1]).show();  // now show save for the span

            });


            // save functions here
            // customer save
            $(".saveproj").click(function () {
                var element = $(this);
                var id_string = element.attr("id");
                var del_id = id_string.split("_");
              //  var info = 'id=' + del_id[1];

                $("#edit_name_" + del_id[1]).hide();  // now show input for the span
                $("#name_" + del_id[1]).text($("#edit_name_" + del_id[1]).val());   // copy the input text to span
                var info = 'id=' + del_id[1] + '&name=' + $("#edit_name_" + del_id[1]).val();
                console.log(info);
                 $.ajax({
                        type: "GET",
                        url: "@Url.Action("UpdateProject")",
                        data: info,
                        success: function () {
                            //      location.reload(true);
                        }
                    });

                $("#name_" + del_id[1]).show();                     // hide the span
                $("#savename_" + del_id[1]).hide();  // now show save for the span
            });

            //------------------------ all staff info editing -----------------------

            $(".staff1_dbclick").dblclick(function () {
                var element = $(this);
                var id_string = element.attr("id");
                var del_id = id_string.split("_");
                var info = 'id=' + del_id[1];

                $("#edit_fullname_" + del_id[1]).show();  // now show input for the span
                $("#staff1_" + del_id[1]).hide();                     // hide the span
                $("#savefullname_" + del_id[1]).show();  // now show save for the span

            });


            // save functions here
            // customer save
            $(".savestaff1").click(function () {
                var element = $(this);
                var id_string = element.attr("id");
                var del_id = id_string.split("_");
              //  var info = 'id=' + del_id[1];

                $("#edit_fullname_" + del_id[1]).hide();  // now show input for the span
                var fullname = $("#edit_name_" + del_id[1]).val();
                var alias = $("#edit_alias_" + del_id[1]).val();
                var email = $("#edit_email_" + del_id[1]).val();
                $("#staff1_" + del_id[1]).text(fullname);   // copy the input text to span
                var info = 'id=' + del_id[1] + '&fullname=' + fullname + '&alias=' + alias + '&email=' + email ;
                console.log(info);
                 $.ajax({
                        type: "GET",
                        url: "@Url.Action("UpdateStaff")",
                        data: info,
                        success: function () {
                            //      location.reload(true);
                        }
                    });

                $("#staff1_" + del_id[1]).show();                     // hide the span
                $("#savefullname_" + del_id[1]).hide();  // now show save for the span
            });


            //------------------------------------------------------------------------------
            //------------------------ Task Manager ------------------- All

            // customer dropdown and save





            
        });
    </script>


    <script>
        $('body').on('click', '.td-main', function(){

            $('.tc-main').removeClass('tc-active');
            $('.tc-data').css('visibility', 'hidden');

            try{
                if( $(this).hasClass('td-active') )
                {
                    $('.td-main').removeClass('td-active');
                    $(this).addClass('td-active');
                    return;
                }
                $('.td-label').show();
                $('.td-control').hide();

                $('.td-main').removeClass('td-active');
                $(this).addClass('td-active');
                $(this).find('.td-label').hide();


                //alert( $(this).find('.td-control').width());
                //$(this).find('.td-control').css('width', (  $(this).find('.td-control').width() - 10) + 'px');
                //alert( $(this).find('.td-control').width());

               

                //-- new
                let txt = $(this).find('.td-label').html();
                let text = '';
                let value = '';
                let fieldName = $(this).data('field');
                let taskId = $(this).data('taskid');

                let control =  $(this).find('.td-control');
                switch(control.data('type'))
                {
                    case 'txt':
                        //alert(txt);
                        //alert(control.find('.td-txt').val());

                        control.find('.td-txt').val(txt);
                        //control.find('.td-txt').eq(0).focus();
                        //control.find('.td-txt').click();
                        //control.find('.td-txt').eq(0).focus();
                        break;

                    case 'ddl':
                        control.find(".td-ddl").css('width', '80%');
                        //text = control.find(".td-ddl").children("option:selected").html();
                        //control.find('.td-ddl option:text=["' + txt + '"]').attr('selected', 'selected');
                        break;
                }

                 $(this).find('.td-control').show();



            }
            catch(ex)
            {
                alert(ex);
            }
        });

        //on text change realtime

        $('body').on('keypress', '.td-txt', function(){
            let text = '';
            let value = '';
            let fieldName = $(this).parent('.td-control').data('field');
            let taskId = $(this).parent('.td-control').data('taskid');

            text = $(this).val();
            value = $(this).val();

            $(this).parent().parent('.td-main').find('pre').html(value);
            updateTaskField(taskId, fieldName, value);
        });

        $('body').on('click', '.td-txt', function(){
            let text = '';
            let value = '';
            let fieldName = $(this).parent('.td-control').data('field');
            let taskId = $(this).parent('.td-control').data('taskid');

            text = $(this).val();
            value = $(this).val();
            $(this).parent().parent('.td-main').find('pre').html(value);
            updateTaskField(taskId, fieldName, value);
        });

        $('body').on('blur', '.td-txt', function(){
            let text = '';
            let value = '';
            let fieldName = $(this).parent('.td-control').data('field');
            let taskId = $(this).parent('.td-control').data('taskid');

            text = $(this).val();
            value = $(this).val();
            $(this).parent().parent('.td-main').find('pre').html(value);
            updateTaskField(taskId, fieldName, value);
        });

        $('body').on('mouseout', '.td-txt', function(){
            let text = '';
            let value = '';
            let fieldName = $(this).parent('.td-control').data('field');
            let taskId = $(this).parent('.td-control').data('taskid');

            text = $(this).val();
            value = $(this).val();
            $(this).parent().parent('.td-main').find('pre').html(value);
            updateTaskField(taskId, fieldName, value);
        });

        $('body').on('click', '.td-txt', function(){
            let text = '';
            let value = '';
            let fieldName = $(this).parent('.td-control').data('field');
            let taskId = $(this).parent('.td-control').data('taskid');

            text = $(this).val();
            value = $(this).val();
            $(this).parent().parent('.td-main').find('pre').html(value);
            updateTaskField(taskId, fieldName, value);
        });

        //on text change realtime

        $('body').on('change', '.td-control', function(){
            let text = '';
            let value = '';
            let fieldName = $(this).data('field');
            let taskId = $(this).data('taskid');

            switch($(this).data('type'))
            {
                case 'txt':
                    text = $(this).find('.td-txt').val();
                    value = $(this).find('.td-txt').val();
                    break;

                case 'ddl':
                    text = $(this).find(".td-ddl").children("option:selected").html();
                    value = $(this).find(".td-ddl").children("option:selected").val();
                    break;
            }
            
            
            $(this).parent('.td-main').find('.td-label').html(text);
            $(this).parent('.td-main').find('.td-label').show();

            $(this).hide();

            //$('.td-label').show();
            //$('.td-control').hide();
            $('.td-main').removeClass('td-active');

            let tabindex = parseInt($(this).parent('.td-main').attr('tabindex'));
            tabindex += 1;
            $("[tabindex='"+ tabindex +"']").focus()

            updateTaskField(taskId, fieldName, value);


        });

        function updateTaskField(taskId, fieldName, fieldValue){
                    let data = "";
                    let url = "";
                    let type = "POST";

                    try
                    {
                        switch(fieldName)
                        {
                            case 'customer':
                                data = "id=" + taskId + "&custid=" + fieldValue;
                                url = "@Url.Action("UpdateTaskCust")";
                                break;

                            case 'priority':
                                data = "id=" + taskId + "&pid=" + fieldValue;
                                url = "@Url.Action("UpdatePr")";
                                break;

                            case 'project':
                                data = "id=" + taskId + "&pid=" + fieldValue;
                                url = "@Url.Action("UpdateTaskProj")";
                                break;

                            case 'task':
                                data = "id=" + taskId + "&descr=" + fieldValue;
                                url = "@Url.Action("UpdateTaskDesc")";
                                break;

                            case 'type':
                                data = "id=" + taskId + "&name=" + fieldValue;
                                url = "@Url.Action("UpdateTaskDev")";
                                break;

                            case 'resource':
                                data = "id=" + taskId + "&pid=" + fieldValue;
                                url = "@Url.Action("UpdateTaskResc")";
                                break;

                            case 'status':
                                data = "id=" + taskId + "&pid=" + fieldValue;
                                url = "@Url.Action("UpdateTaskStat")";
                                break;

                            case 'date':
                                data = "id=" + taskId + "&pid=" + fieldValue;
                                url = "@Url.Action("UpdateTaskDate")";
                                break;

                            case 'acthours':
                                data = "id=" + taskId + "&pid=" + fieldValue;
                                url = "@Url.Action("UpdateTaskAct")";
                                break;

                            case 'esthours':
                                data = "id=" + taskId + "&pid=" + fieldValue;
                                url = "@Url.Action("UpdateTaskEst")";
                                break;

                            case 'notes':
                                data = "id=" + taskId + "&name=" + fieldValue;
                                url = "@Url.Action("UpdateTimeNote")";
                                break;

                            case 'project_status':
                                data = "id=" + taskId + "&name=" + fieldValue;
                                url = "@Url.Action("UpdateTaskProjectStatus")";
                                break;


                        }

                        $.ajax({
                            type: type,
                            url: url,
                            data: data,
                            success: function () {}
                        });

                    }
                    catch(ex)
                    {
                        alert(ex);
                    }

        }


        $('body').on('click', '.tc-main', function(){

            //alert( $(this).data('field') );
            /*
            2 tc-main
            once clicked it will show 

            
            */

            $('.td-main').removeClass('td-active');
            $('.td-label').show();
            $('.td-control').hide();

            let field = $(this).data('field');

            let tc_control = '.tc-' + field;

            try{
                if( $(this).hasClass('tc-active') )
                {
                    $('.tc-main').removeClass('tc-active');
                    $(this).addClass('tc-active');
                    return;
                }

                $('.tc-data').show();
                $('.tc-data').css('visibility', 'hidden');
                
                $(tc_control).css('visibility', 'visible');

                $('.tc-main').removeClass('tc-active');
                $(this).addClass('tc-active');
                //$(this).find('.td-label').hide();
                //$(this).find('.td-control').show();
            }
            catch(ex)
            {
                alert(ex);
            }


        });


        $('body').on('change', '.td-ddl-filter', function(){
            let field = $(this).data('field');
            let url = '@Url.Action("Planner")' + '/?page=1&filter=' + field  + '&value=' + $(this).val();
            window.location.href = url;
        });

        $('body').on('change', '.td-ddl-project', function(){

            //alert($(this).val());

            let data = "id=" + $(this).val();
            let url = "@Url.Action("FetchTaskProjectStatus")";
            let type = "GET";

            
            $.ajax({
                type: type,
                url: url,
                data: data,
                complete: function (res) {
                    let txt = res.responseText;
                    //alert(txt);

                    //update project status with task id

                    //update all rows with project id    
                    $('.td-txt-projectstatus').val(txt);

                    $('.td-lbl-projectstatus').html(txt);
                    



                }
            });
            

        });


        $('body').on("input", "textarea", function()
        {
            $(this).prop('style').cssText = 'height:auto;';
            $(this).prop('style').cssText = 'height:' + $(this).prop('scrollHeight') + 'px';
        });

        $('body').on("focus", "textarea", function()
        {
            $(this).prop('style').cssText = 'height:auto;';
            $(this).prop('style').cssText = 'height:' + $(this).prop('scrollHeight') + 'px';
        });

        $('body').on("focus", ".td-main", function(){
            $(this).click();
        });

        $('body').on("blur", ".td-main", function(){
            //alert('zzzzzzzzz');
        });




    </script>
   
    <script>
        // ---------------------- hide control and elements ------------------------
        $(document).ready(function () {
            //TODO: alistair
            //bindEdit();
        });
        $(document).ajaxComplete(function (event, xhr, settings) {
            //TODO: alistair
            //bindEdit();

            //bindEdit();
        });

        function bindEdit() {


            alert('.bindEdit was called');

            $(".cust_name").hide();  // hide all inputs for customer name edit section
            $(".savecustomers").hide();  // the save button
            $(".proj_name").hide();
            $(".saveproj").hide();

            $(".staff1_name").hide();
            $(".staff2_name").hide();
            $(".staff3_name").hide();
            $(".savestaff1").hide();
            $(".savestaff2").hide();
            $(".savestaff3").hide();

            $(".sel_resc").hide();
            $(".sel_staff").hide();
            $(".sel_pr").hide();
            $(".sel_stat").hide();

            $

            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
            $(".sel_cust").hide();   // hide customer dropdown
        }
    </script>
    <script>
        // ----------------------add and delete layout ------------------------
        $(document).ready(function () {
            $('.add_fields3').on('click', function (e) {
               addTask();
            });

            $('.datepicker3').on('change', function (e) {
                var element = $(this);
                var id_string = element.attr("id");
                var del_id = id_string.split("_");
                var control_name = del_id[0];
                console.log(id_string);

                var newval = $('#starttask_' + del_id[1]).val();
                $('#taskstart_' + del_id[1]).text(newval);
                $('#selstart_' + del_id[1]).hide();
                $('#taskstart_' + del_id[1]).show();
                e.preventDefault();
                e.stopPropagation();
                return false;
            });

        });


    </script>
    <script>
        // ---------------------- New Add task manager ------------------------
        $(document).ready(function () {

            $("est_t").on('keypress',function () {
                var est_d = $('#est_t').val();
                if (est_d.trim() == '')
                {
                    $('#est_t').val('0');
                }
            });


        });
    </script>
    <script>



        //--------------- modal for add files -----------------------
        $('#mod_images').on('show.bs.modal', function (event) {
            //var button = $(event.relatedTarget) // Button that triggered the modal
            //var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            let modal = $(this);
            modal.find('.modal-title').text('New message to ');
            //modal.find('.modal-body input').val(recipient)
        });




    </script>

    <div class="modal fade" id="mod_images" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Images</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>



                <div class="modal-body" style="with: 100%;">

                    <!--div class="img_receiver" data-taskid="0" style="background-image:  no-repeat center center fixed; background-size: cover; display: block; width: 100%; height: 300px; border: 1px solid #eee; margin-bottom: 20px;">
                    </div-->
                    <div class="" data-taskid="0" style="background-image:  no-repeat center center fixed; background-size: cover; display: block; width: 100%; min-height: 400px; overflow: hidden; border: 1px solid #eee; margin-bottom: 20px;">
                        <img class="img_receiver" style="width: 100%; min-width: 400px; display: block;" />
                    </div>


                    <div class="img_list" style="background-image:  no-repeat center center fixed; background-size: cover; display: block; width: 100%; height: 180px; border: 0 solid #eee;">
                    </div>



                </div>



            </div>
        </div>
    </div>




    <script>
        function bindDatePicker(element) {
            $(element).datepicker();
        }


        function bindfrmsubmit(element) { }
        //---------------- toggle show and hide of elements
        $('body').on('click', '.dplay', function (e) {

            $('.hideall').hide();

            var element = $(this);
            var id_string = element.attr("id");
            console.log(id_string);
            var del_id = id_string.split("_");
            var info = 'id=' + del_id[1];

          //  $('row_' + del_id[1] + ' i').removeClass('fa-minus-circle').addClass('fa-play');

            $('#secondrow_' + del_id[1]).toggle();


            $('[id^=drop_]').each(function () {
             //   $(this).removeClass('fa-minus-circle').addClass('fa-play');
            });

            $('[id^=d_]').each(function () {
                $(this).hide();
            });


            $('[id^=toogle_]').each(function () {
              //  $(this).removeClass('remove_field2').addClass('dplay');
                $(this).show();
            });

            $('[id^=remove_]').each(function () {
                $(this).hide();
            });

        //    $('#drop_' + del_id[1]).toggleClass('fa-play fa-minus-circle');
         //   $('#toogle_' + del_id[1]).toggleClass('dplay remove_field2');
          

            //enable delete field remove
            $('#toogle_' + del_id[1]).hide();
            $('#remove_' + del_id[1]).show();
            $('#d_' + del_id[1]).show();

            e.preventDefault();
            e.stopPropagation();
            return false;

        });

        $('body').on("click", ".remove_field2", function (e) {
            e.preventDefault();

            var element = $(this);

            var id_string = element.attr("id");

            var del_id = id_string.split("_");
            var info = 'id=' + del_id[1];
            

            let tr = $('#row_' + del_id[1]);
            console.log(info);
            console.log(tr);
            if (confirm("Are you sure you want to delete this Record?")) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("DeleteTask")",
                    data: info,
                    success: function () {

                    }
                });

                $("#row_" + del_id[1]).fadeOut("slow", function () {
                    // After animation completed:
                    $("#row_" + del_id[1]).remove();
                    $("#secondrow_" + del_id[1]).remove();
                });
            }

        });

        $('body').on('change', '#selectcust_0', function (e) {

            var element = $(this);
            var id_string = element.attr("id");
            var del_id = id_string.split("_");
            console.log(id_string);
            var control_name = del_id[0];


                    var newval = $("#selectcust_" + del_id[1] + " option:selected").text();
                    var custid = $("#selectcust_" + del_id[1] + " option:selected").val();

                    $('#custtask_' + del_id[1]).text(newval);
                    $('#custtask_' + del_id[1]).show();

                       $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetLastScope")",
                        data: "id=" + custid,
                        dataType: "text",
                        success: function (data) {

                   
                            $('tr#row_0').prop('id', 'row_' + data);
                            $('a#toogle_0').prop('id', 'toggle_' + data);
                            $('a#remove_0').prop('id', 'remove_' + data);
                            $('i#drop_0').prop('id', 'drop_' + data);
                            $('span#custtask_0').prop('id', 'custtask_' + data);
                            $('span#selcust_0').prop('id', 'selcust_' + data);
                            $('#selectcust_0').prop('id', 'selectcust_' + data);
                            // pr
                            $('#taskpr_0').prop('id', 'taskpr_' + data);
                            $('#selpr_0').prop('id', 'selpr_' + data);
                            $('#selectpr_0').prop('id', 'selectpr_' + data);
                            //project

                            $('#taskproj_0').prop('id', 'taskproj_' + data);
                            $('#selproj_0').prop('id', 'selproj_' + data);
                            $('#selectproj_0').prop('id', 'selectproj_' + data);
                            //task

                            $('#descriptiontask1_0').prop('id', 'descriptiontask1_' + data);
                            $('#seldesc_0').prop('id', 'seldesc_' + data);
                            $('#descriptiontask_0').prop('id', 'descriptiontask_' + data);

                            //type
                            $('#taskdev_0').prop('id', 'taskdev_' + data);
                            $('#seldev_0').prop('id', 'seldev_' + data);
                            $('#selectdev_0').prop('id', 'selectdev_' + data);

                            // resource
                            $('#taskresc_0').prop('id', 'taskresc_' + data);
                            $('#selresc_0').prop('id', 'selresc_' + data);
                            $('#selectresc_0').prop('id', 'selectresc_' + data);

                            //stat
                            $('#taskstat_0').prop('id', 'taskstat_' + data);
                            $('#selstat_0').prop('id', 'selstat_' + data);
                            $('#selectstat_0').prop('id', 'selectstat_' + data);

                            //start
                            $('#taskstart_0').prop('id', 'taskstart_' + data);
                            $('#selstart_0').prop('id', 'selstart_' + data);
                            $('#starttask_0').prop('id', 'starttask_' + data);

                            //est
                            $('#taskest_0').prop('id', 'taskest_' + data);
                            $('#selest_0').prop('id', 'selest_' + data);
                            $('#esttask_0').prop('id', 'esttask_' + data);

                            //note

                            $('#notetask_0').prop('id', 'notetask_' + data);
                            $('#selnote_0').prop('id', 'selnote_' + data);
                            $('#notetask2_0').prop('id', 'notetask2_' + data);

                            $('#d_0').prop('id', 'd_' + data);
                            $('#secondrow_0').prop('id', 'secondrow_' + data);


                        
                },
                error: function (xhr) {
                    alert('error');
                }
            });

        });
       
        $(function () {
            $(".datepicker99").datepicker();
        });

       // $('.datepicker99').trigger('change');
        $('.datepicker99').on("change", function () {

            var element = $(this);
            var id_string = element.attr("id");
            var del_id = id_string.split("_");
            console.log(id_string);
            var control_name = del_id[0];

            var custid = $(this).val();

          //  alert(custid);

                     $("#taskstart_" + del_id[1]).html(custid);
                     $('#selstart' + del_id[1]).hide();
                      $("#taskstart_" + del_id[1]).show();

                     var info = 'id=' + del_id[1] + '&pid=' + custid;
            console.log(info);
         //   $(this).removeClass('datepicker99');

            var url = "@Url.Action("UpdateTaskDate")";


            $.ajax({
                type: "GET",
                url: url,
                data: info,
                success: function () {
                    //      location.reload(true);
                }
            });


        });

        $(document).on('focus', ".datepicker5", function () {
            $(this).datepicker();
        });



        $('body').on("change",'.datepicker5', function () {

            var element = $(this);
            var id_string = element.attr("id");
            var del_id = id_string.split("_");
            console.log(id_string);
            var control_name = del_id[0];
            var custid = $(this).val();
                     $("#taskstart_" + del_id[1]).html(custid);
                     $('#selstart' + del_id[1]).hide();
                      $("#taskstart_" + del_id[1]).show();

                     var info = 'id=' + del_id[1] + '&pid=' + custid;
            console.log(info);
         //   $(this).removeClass('datepicker99');

            /*
            var url = "@Url.Action("UpdateTaskDate")";


            $.ajax({
                type: "GET",
                url: url,
                data: info,
                success: function () {
                    //      location.reload(true);
                }
            });
            */


        });

        //TODO: ALISTAIR
        $("body").on('click', '.down_arrow', function (e) {
            var element = $(this);
            var id_string = element.attr("id");
            var del_id = id_string.split("_");

            var control_name = del_id[0];
            console.log(id_string);

            $('.hideall').hide();

            $('#secondrow' + del_id[1]).hide();


            $('#toogle_' + del_id[1]).show();
            $('#remove_' + del_id[1]).hide();
            $('#d_' + del_id[1]).hide();

            e.preventDefault();
            e.stopPropagation();
            return false;


        });

        function bugsolve() {

            $('[id^=selcust_]').each(function () {
                $(this).hide();
            });

            $('[id^=selpr_]').each(function () {
                $(this).hide();
            });

            $('[id^=seldesc_]').each(function () {
                $(this).hide();
            });

            $('[id^=seldev_]').each(function () {
                $(this).hide();
            });

            $('[id^=selresc_]').each(function () {
                $(this).hide();
            });

            $('[id^=selstat_]').each(function () {
                $(this).hide();
            });

            $('[id^=selest_]').each(function () {
                $(this).hide();
            });

            $('[id^=custtask_]').each(function () {
                $(this).show();
            });
            $('[id^=taskpr_]').each(function () {
                $(this).show();
            });

            $('[id^=taskproj_]').each(function () {
                $(this).show();
            });

            $('[id^=descriptiontask1_]').each(function () {
                $(this).show();
            });

            $('[id^=descriptiontask1_]').each(function () {
                $(this).show();
            });

            $('[id^=taskdev_]').each(function () {
                $(this).show();
            });

            $('[id^=taskresc_]').each(function () {
                $(this).show();
            });

            $('[id^=taskstat_]').each(function () {
                $(this).show();
            });

            $('[id^=taskest_]').each(function () {
                $(this).show();
            });



        }

    </script>



    <script>

        $(document).ready(function(){

                var data_d = 'page=1&column=customer&value=ITG&sort=desc';
                 $.ajax({
                            type: "GET",
                            url: "@Url.Action("GetPlannerDataBy")",
                            cache: false,
                            data: data_d,
                            dataType: 'application/json',
                            complete: function (res) {
                                    //alert(res.responseText);
                                    
                                }
                            });
        });



    </script>


    


    <script>

        $('body').on('click', '.btn_imageremove', function(){
            let id = $(this).data('imageid');

            $(this).parent().parent(".img_container").remove();

            let data = "id=" + id;
            let url = "@Url.Action("RemoveTaskImage")";
            let type = 'POST';

            $.ajax({
                            type: type,
                            url: url,
                            data: data,
                            success: function (data) {
                            }
                    });
        });



        $('body').on('click', '.img-thumbnail', function(){

             console.log('aaaaaaaaa');
            let base64 = $(this).attr("src");
            console.log(base64)
            $(".img_receiver").attr("src", base64);

        });

        $('body').on('click', '.btn_images', function(){
             let taskid = $(this).data('taskid');
             console.log("TASK ID" + taskid);
             $(".img_receiver").data("taskid", taskid);

             function loadTaskImages(taskid){
                    let data = "id=" + taskid;
                    let url = "@Url.Action("FetchTaskImages")";
                    let type = 'POST';

                    $.ajax({
                            type: type,
                            url: url,
                            data: data,
                            success: function (data) {
                                console.log(data);
                                console.log(data.length)
                                console.log(data[0].imagebase64);
                                console.dir(data[0]);

                                let imgx = '';
                                $(".img_list").html("");
                                data.forEach(function(d){

                                    imgx = '';
                                    imgx += '<div class="img_container" style="display: block; float: left; width: 120px;">';
                                    imgx += '<div style="float; right; position: absolute; display: inline-block; z-index: 9999;"><button class="btn_imageremove btn btn-danger btn-sm" data-imageid="' + d.id + '">x</button></div>';
                                    imgx += '<img src="@VirtualPathUtility.ToAbsolute("~/")Images/TaskImages/TaskImage-' + d.id + '.png" alt="" class="img-thumbnail" style="display: block; width: 120px; height: 120px;">';

                                    imgx += '</div>';

                                    $(".img_list").prepend(imgx);

                                });
                            }
                    });

             }

             loadTaskImages(taskid);
             $('#mod_images').modal('show');
             $(".img_receiver").attr("src", "");
             $(".img_list").html("");



        });




        // Created by STRd6
        // MIT License
        // jquery.paste_image_reader.js
        (function($) {
        var defaults;
        $.event.fix = (function(originalFix) {
            return function(event) {
            event = originalFix.apply(this, arguments);
            if (event.type.indexOf('copy') === 0 || event.type.indexOf('paste') === 0) {
                event.clipboardData = event.originalEvent.clipboardData;
            }
            return event;
            };
        })($.event.fix);
        defaults = {
            callback: $.noop,
            matchType: /image.*/
        };
        return $.fn.pasteImageReader = function(options) {
            if (typeof options === "function") {
            options = {
                callback: options
            };
            }
            options = $.extend({}, defaults, options);
            return this.each(function() {
            var $this, element;
            element = this;
            $this = $(this);
            return $this.bind('paste', function(event) {
                var clipboardData, found;
                found = false;
                clipboardData = event.clipboardData;
                return Array.prototype.forEach.call(clipboardData.types, function(type, i) {
                var file, reader;
                if (found) {
                    return;
                }
                if (type.match(options.matchType) || clipboardData.items[i].type.match(options.matchType)) {
                    file = clipboardData.items[i].getAsFile();
                    reader = new FileReader();
                    reader.onload = function(evt) {
                    return options.callback.call(element, {
                        dataURL: evt.target.result,
                        event: evt,
                        file: file,
                        name: file.name
                    });
                    };
                    reader.readAsDataURL(file);
                    return found = true;
                }
                });
            });
            });
        };
        })(jQuery);





$("html").pasteImageReader(function(results) {
    let dataURL = ""
    let filename = "";
	filename = results.filename, dataURL = results.dataURL;

	//$data.text(dataURL);
	//$size.val(results.file.size);
	//$type.val(results.file.type);
	var img = document.createElement("img");
	img.src = dataURL;
	var w = img.width;
	var h = img.height;
	//$width.val(w);
	//$height.val(h);
    console.log(dataURL);
    //https://codepen.io/netsi1964/pen/IoJbg
    //$(".img_receiver").css("background-image", "url(" + results.dataURL + ")");
    $(".img_receiver").attr('src', results.dataURL);

/*
    let imgx = '';
        imgx += '<div>';
        imgx += '<img src="' + results.dataURL + '" alt="" class="img-thumbnail" style="width: 120px; height: 120px;">';
        imgx += '<button>Remove</button>';
        imgx += '</div>';
*/


        console.log(results.dataURL);



     let taskid = $(".img_receiver").data("taskid");
     let data = "id=" + taskid + "&image=" + encodeURIComponent(results.dataURL);
     let url = "@Url.Action("AddTaskImage")";
     let type = 'POST';

     $.ajax({
            type: type,
            url: url,
            data: data,
            complete: function (res) {
                //alert(res);
                let imgx = '';
                //imgx += '<div class="img_container" style="display: block; float: left;">';
                //imgx += '<img src="' + results.dataURL + '" alt="" class="img-thumbnail" style="clear: both; display: block; width: 120px; min-height: 120px;">';
                //imgx += '<button class="btn_imageremove" data-imageid="' + res.responseText + '"" style="display: block; clear: both; float; left;" >Remove</button>';
                imgx += '<div class="img_container" style="display: block; float: left; width: 120px;">';
                imgx += '   <div style="float; right; position: absolute; display: inline-block; z-index: 9999;"><button class="btn_imageremove btn btn-danger btn-sm" data-imageid="' + res.responseText + '">x</button></div>';
                imgx +=     '<img src="' + results.dataURL + '" alt="" class="img-thumbnail" style="display: block; width: 120px; height: 120px;">';
                imgx += '</div>';

                $(".img_list").prepend(imgx);

            }
     });

    //ajax call insert
    // create thumbnail
    //prepend

    /*
	$(".img_receiver")
		.css({
			backgroundImage: "url(" + dataURL + ")"
		})
		.data({ width: w, height: h });
        */

});


/*

    let	$data = $(".data");
    let	$size = $(".size");
    let	$type = $(".type");
    let	$width = $("#width");
    let	$height = $("#height");

	$("body").on("click", ".img_receiver", function() {
		var $this = $(this);
        //alert('click');
		var bi = $this.css("background-image");
		if (bi != "none") {
			$data.text(bi.substr(4, bi.length - 6));
		}

		$(".img_receiver").removeClass("active");
		$this.addClass("active");

		$this.toggleClass("contain");

		$width.val($this.data("width"));
		$height.val($this.data("height"));
		if ($this.hasClass("contain")) {
			$this.css({
				width: $this.data("width"),
				height: $this.data("height"),
				"z-index": "10"
			});
		} else {
			$this.css({ width: "", height: "", "z-index": "" });
		}
	});
*/



function copy(text) {
	var t = document.getElementById("base64");
	t.select();
	try {
		var successful = document.execCommand("copy");
		var msg = successful ? "successfully" : "unsuccessfully";
		alert("Base64 data coppied " + msg + " to clipboard");
	} catch (err) {
		alert("Unable to copy text");
	}
}
    </script>



</body>
</html >